In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from datetime import datetime

num_agrupado = ["10875","10862","10874","10858","10858","10893","10893","10864","10848","10906","10900","10904","10905","10605","10433","10426","10468","10508","10508","10613","10538","10616","10631","10505","10533","10607","10524","10479","10565","10586","10583","10587","10587","10584","10584","10514","10514","10513","10513","10595","10595","10594","10594","10582","10582","10585","10585","10555","10552","10488","10615","10464","10560","10543","10543","10540","10542","10512","10509","10509","10438","10497","10532","10532","10488","10502","10459","10454","10480","10591","10540","10591","10520","10554","10590","10537","10609","10609","10506","10506","10490","10490","10557","10557","10517","10556","10556","10426","10426","10568","10596","10596","10433","10433","10433","10628","10622","10619","10613","10538","10616","10468","10476","10476","10276","10306","10305","10348","10348","10337","10337","10309","10309","10310","10310","10302","10302","10293","10352","10262","10262","10353","10235","10269","10291","10292","10434","10434","10408","10371","10368","10380","10381","10434","10381","10381","10933","10940","10881","10877","10947","10911","10933","10894","10895","10770","10725","10655","10655","10702","10702","10701","10701","10630","10630","10674","10675","10670","10656","10654","10654","10720","10692","10732","10684","10709","10672","10788","10715","10807","10807","10683","10683","10762","10762","10834","10834","10761","10761","10748","10748","10680","10680","10679","10679","10635","10635","10808","10658","10664","10653","10820","10815","10815","10724","10713","10712","10711","10810","10689","10634","10634","10632","10632","10745","10800","10800","10670","10689","10742","10742","10747","10747","10798","10798","10665","10665","10830","10667","10667","10652","10652","10669","10669","10698","10698","10697","10697","10640","10640","10686","10686","10736","10736","10731","10731","10789","10703","10829","10729","10656","10764","10678","10763","10637","10637","10637","10644","10644","10644","10644","10658","10767","10704","10673","10627","10627","10625","10625","10592","10592","10578","10578","10650","10527","10527","10534","10474","10474","10471","10471","10531","10531","10589","10511","10511","10521","10623","10564","10564","10614","10614","10577","10577","10536","10620","10620","10477","10498","10498","10526","10526","10588","10530","10536","10645","10325","10323","10507","10356","10484","10482","10277","10431","10478","10606","10606","10539","10539","10487","10452","10458","10475","10384","10374","10566","10398","10357","10304","10544","10544","10375","10440","10334","10363","10363","10344","10344","10431","10321","10321","10351","10317","10529","10541","10541","10528","10528","10563","10500","10410","10410","10451","10525","10457","10346","10346","10496","10496","10489","10489","10361","10361","10358","10358","10367","10367","10420","10420","10421","10421","10465","10465","10561","10377","10290","10314","10486","10413","10413","10356","10356","10484","10484","10482","10482","10482","10357","10492","10492","10516","10572","10572","10410","10420","10421","10377","10486","10413","10413","10374","10374"]


Radares = [5415,5483,5126,5471,5470,5316,5315,5313,5314,5358,5357,5355,5356,5463,5297,5296,5354,5098,5476,5475,5474,5479,5478,5477,5480,5323,5226,5308,5307,5432,5433,5414,5413,5201,5200,5199,5198,5205,5204,5203,5202,5196,5197,5195,5194,5445,5104,5446,5103,5462,5461,5460,5441,5106,5443,5442,5439,5105,5440,5457,5449,5317,5101,5506,5336,5335,5402,5401]


# cria um dicionário
def faz_dict (keys, values):
    '''
        Cria um dicionário com a correspondência entre 
        chaves e valores. Com a função .map() pode, ser
        adicionadas novas colunas no DF.

        Inputs:
            keys: (list) chaves que estão no presente DF
            values: (list) valores que serão inputados na nova coluna

        Return:
            mapa: (dict) mapa de correspondência
    '''

    mapa = {}
    for i in range(len(keys)):
        mapa[keys[i]] = values[i]

    return mapa

In [2]:
estacoes = ["BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","VM","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","JB","JB","JB","JB","JB","JB","JB","JB","JB","JB","LP","LP","LP","LP","LP","LP","LP","LP","LP","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM"]

numeros_agrupados = ["10875","10862","10874","10858","10858","10893","10893","10864","10848","10906","10900","10904","10905","10605","10433","10426","10468","10508","10508","10613","10538","10616","10631","10505","10533","10607","10524","10479","10565","10586","10583","10587","10587","10584","10584","10514","10514","10513","10513","10595","10595","10594","10594","10582","10582","10585","10585","10555","10552","10488","10615","10464","10560","10543","10543","10540","10542","10512","10509","10509","10438","10497","10532","10532","10488","10502","10459","10454","10480","10591","10540","10591","10520","10554","10590","10537","10609","10609","10506","10506","10490","10490","10557","10557","10517","10556","10556","10426","10426","10568","10596","10596","10433","10433","10433","10628","10622","10619","10613","10538","10616","10468","10476","10476","10276","10306","10305","10348","10348","10337","10337","10309","10309","10310","10310","10302","10302","10293","10352","10262","10262","10353","10235","10269","10291","10292","10434","10434","10408","10371","10368","10380","10381","10434","10381","10381","10933","10940","10881","10877","10947","10911","10933","10894","10895","10770","10725","10655","10655","10702","10702","10701","10701","10630","10630","10674","10675","10670","10656","10654","10654","10720","10692","10732","10684","10709","10672","10788","10715","10807","10807","10683","10683","10762","10762","10834","10834","10761","10761","10748","10748","10680","10680","10679","10679","10635","10635","10808","10658","10664","10653","10820","10815","10815","10724","10713","10712","10711","10810","10689","10634","10634","10632","10632","10745","10800","10800","10670","10689","10742","10742","10747","10747","10798","10798","10665","10665","10830","10667","10667","10652","10652","10669","10669","10698","10698","10697","10697","10640","10640","10686","10686","10736","10736","10731","10731","10789","10703","10829","10729","10656","10764","10678","10763","10637","10637","10637","10644","10644","10644","10644","10658","10767","10704","10673","10627","10627","10625","10625","10592","10592","10578","10578","10650","10527","10527","10534","10474","10474","10471","10471","10531","10531","10589","10511","10511","10521","10623","10564","10564","10614","10614","10577","10577","10536","10620","10620","10477","10498","10498","10526","10526","10588","10530","10536","10645","10325","10323","10507","10356","10484","10482","10277","10431","10478","10606","10606","10539","10539","10487","10452","10458","10475","10384","10374","10566","10398","10357","10304","10544","10544","10375","10440","10334","10363","10363","10344","10344","10431","10321","10321","10351","10317","10529","10541","10541","10528","10528","10563","10500","10410","10410","10451","10525","10457","10346","10346","10496","10496","10489","10489","10361","10361","10358","10358","10367","10367","10420","10420","10421","10421","10465","10465","10561","10377","10290","10314","10486","10413","10413","10356","10356","10484","10484","10482","10482","10482","10357","10492","10492","10516","10572","10572","10410","10420","10421","10377","10486","10413","10413","10374","10374"]

mapa_estacoes = faz_dict(numeros_agrupados, estacoes)
# 0,L3,2018-02-28 23:56:22,5323,3,0,1095514,0,1,0,048,136,00649,84956
# 54,L3,2018-08-03 00:00:12,5323,2,0,283530,0,1,0,118,053,03039,95040

In [7]:
df_base = pd.read_csv(r'D:\Users\guilh\Documents\GitHub\Dados_CET\csv_radares-20200426T211130Z-001_selecionados/'+"08_selecionado.csv", index_col=["Unnamed: 0"], parse_dates=True, dayfirst= True)

# cria a coluna de numeros agrupados
df_base['Numero Agrupado'] = df_base['Local'].map(faz_dict(Radares,num_agrupado))


#coloca a Data e datetime object para facilitar manipulacao
df_base["Data"] = pd.to_datetime(df_base["Data"],format='%Y-%d-%m %H:%M:%S', errors='coerce')


df_base = df_base[df_base.Data.dt.day == 8]
df_base.head()

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao,Indice de Minutos,Numero Agrupado
52,L3,2018-03-08 00:00:09,5323,2,0,283528,0,1,0,052,044,02009,95040,10488
53,L3,2018-03-08 00:00:10,5323,3,0,283529,0,1,0,040,053,01423,95040,10488
54,L3,2018-03-08 00:00:12,5323,2,0,283530,0,1,0,118,053,03039,95040,10488
55,L3,2018-03-08 00:00:12,5323,3,0,283531,0,1,0,098,056,02351,95040,10488
56,L3,2018-03-08 00:00:15,5323,2,0,283532,0,1,0,043,067,01193,95040,10488

## Limpeza inicial do df

* tiramos os NaNs, 
* os vazios,
* adicionamos o Numero agrupado (str),
* Coloca data em datetime,
* Cria as colunas "Numero Agrupado", "Dia_Sem"

In [8]:

# cria a coluna do dia da semana
# ###############IMPORTANTE############# segunda = 0
df_base["Dia_Sem"] =  df_base["Data"].dt.dayofweek


########## UPDATE ###########
# transforma todos radares 5479 na faixa 3, (5479,3) em radares 5478 na faixa 3 (5478,3)
# pode ficar tranquilo por que eles tem o mesmo numero agrupado
df_base.loc[(df_base["Local"]==5479) & (df_base["Faixa"] == 3), "Local"] = 5478

# limpa a ocupacao
df_base.drop(df_base.loc[df_base['Ocupacao'] =='     ','Ocupacao'].index, inplace=True)
df_base.Ocupacao = df_base.Ocupacao.astype(float)

#dropa vazios
df_base.drop(df_base.loc[df_base['Velocidade'] =='   ','Velocidade'].index, inplace=True)

#dropa não válidos (nan)
df_base.loc[:,'Velocidade'].dropna(inplace=True)

#coloca tudo no mesmo formato de dado int
df_base.loc[:,'Velocidade'] = pd.to_numeric(df_base.loc[:,'Velocidade'])

###### Numero Agrupado é uma String

df_base.reset_index(drop=True,inplace=True)


df_base = df_base[['Lote', 'Data', "Dia_Sem", 'Local', 'Numero Agrupado', 'Faixa', 'Entrefaixa',
       'Registro', 'Tipo de Registro', 'Especie',
      'Classe', 'Comprimento', 'Velocidade', 'Ocupacao']]
df_base.head()

,Lote,Data,Dia_Sem,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-03-08 00:00:09,3,5323,10488,2,0,283528,0,1,0,052,44,2009.0
1,L3,2018-03-08 00:00:10,3,5323,10488,3,0,283529,0,1,0,040,53,1423.0
2,L3,2018-03-08 00:00:12,3,5323,10488,2,0,283530,0,1,0,118,53,3039.0
3,L3,2018-03-08 00:00:12,3,5323,10488,3,0,283531,0,1,0,098,56,2351.0
4,L3,2018-03-08 00:00:15,3,5323,10488,2,0,283532,0,1,0,043,67,1193.0

## Cria o df agrupado

df agrupado a cada 5 minutos
adiciona Volume, velocidade media, mediana e desvio padrao
adiciona ocupação media mediana e desvio padrao

In [9]:
df_agregado = df_base.copy()

df_agregado.loc[:,'V1'] = df_agregado.loc[:,'Velocidade'].copy()
df_agregado.loc[:,'V2'] = df_agregado.loc[:,'Velocidade'].copy()
df_agregado.loc[:,'Oc1'] = df_agregado.loc[:,'Ocupacao'].copy()
df_agregado.loc[:,'Oc2'] = df_agregado.loc[:,'Ocupacao'].copy()
df_agregado = df_agregado.groupby([ 'Numero Agrupado',"Faixa",'Especie',pd.Grouper(key='Data', freq='5Min')]).agg({'Dia_Sem': "mean",
                                                                        "Registro": "count",
                                                                        'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Ocupacao':'mean',
                                                                        'Oc1':'median',
                                                                        'Oc2':'std',
                                                                        })
df_agregado.columns=['Dia_Sem',
            "Volume",
            'Vel_media',
            'Vel_mediana',
            'Vel_desvpad',
            'Ocu_media',
            'Ocu_mediana',
            'Ocu_desvpad',
            ] # Renomeia

df_agregado.reset_index(inplace=True)
df_agregado.head()

,Numero Agrupado,Faixa,Especie,Data,Dia_Sem,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,10488,1,0,2018-03-08 03:05:00,3,1,86.0,86.0,NaN,400.0,400.0,NaN
1,10488,1,0,2018-03-08 06:15:00,3,1,22.0,22.0,NaN,1394.0,1394.0,NaN
2,10488,1,0,2018-03-08 06:30:00,3,1,72.0,72.0,NaN,542.0,542.0,NaN
3,10488,1,0,2018-03-08 07:30:00,3,1,47.0,47.0,NaN,920.0,920.0,NaN
4,10488,1,0,2018-03-08 08:05:00,3,1,92.0,92.0,NaN,369.0,369.0,NaN

## Criando dicionarios

Aqui são dicionarios que serão utilizados para gerar colunas via mapeamento

In [11]:
labels = np.array(["P1","P2","P3","P4","P5","P6","P7"])

intervalos = pd.IntervalIndex.from_tuples([(0,5),(5,7),(7,10),(10,14),(14,17),(17,20),(20,24)], closed="left")

inter = ["[0, 5)","[5, 7)","[7, 10)","[10, 14)","[14, 17)","[17, 20)","[20, 24)"]
# "P1","P2","P3","P4","P5","P6","P7"

sentidos = ["Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Brasil_N","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_N","Brasil_N","Brasil_N","Brasil_N","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C"]


tip_faixa = ["mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","onibus","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista"]

num_faixa = ["104261","104262","104263","104264","104331","104332","104333","104334","104335","104821","104822","104823","104824","104825","104841","104842","104843","104844","104845","104881","104882","104883","104884","104921","104922","104923","105001","105002","105003","105071","105072","105091","105092","105093","105094","105161","105162","105163","105164","105211","105212","105213","105281","105282","105283","105284","105311","105312","105313","105314","105541","105542","105543","105561","105562","105563","105564","105571","105572","105573","105574","105881","105882","105883","105884","105941","105942","105943","105951","105952","105953","106051","106052","106053","106131","106132","106133","106134","106135","106191","106192","106193","106221","106222","106223","106321","106322","106323","106341","106342","106343","106371","106372","106373","106374","106375","106376","106441","106442","106443","106444","106445","106446","106521","106522","106523","106524","106671","106672","106673","106674","106791","106792","106793","106801","106802","106803","107481","107482","107483","107611","107612","107613"]


mapfaixas = faz_dict(num_faixa,tip_faixa)


mapa_intervalos  = {}
for i in range(len(labels)):
    mapa_intervalos[inter[i]] = labels[i]



mapa_sentidos = {}
for i in range(len(num_agrupado)):
    mapa_sentidos[num_agrupado[i]] = sentidos[i]

In [12]:

# Criando a coluna Periodo
df_agregado["Periodo"] = "y"


df_agregado['aux'] = pd.cut(np.array(df_agregado.Data.dt.hour), intervalos)

try:
    df_agregado['aux'] = df_agregado['aux'].astype(str)
    df_agregado['Periodo'] = df_agregado['aux'].map(mapa_intervalos)
    df_agregado.drop(columns=["aux"],inplace=True, axis = 0)
except:
    pass

# Criando a colua Eixo usando o mapa de sentidos das vias criado acimma
df_agregado["Eixo"] = df_agregado["Numero Agrupado"].map(mapa_sentidos)

# Criando a coluna Numero agregado + faixa, somando as strings
df_agregado["NumAg_fx"] = df_agregado["Numero Agrupado"] + df_agregado['Faixa'].astype(str)

# Criando a coluna Faixa tipo que, para cada NumAg_fx determina qual o tipo de faixa
df_agregado["Fx_tipo"] = df_agregado["NumAg_fx"].map(mapfaixas)

#criando coluna de estação meteorologica, será retirada mais a frente
df_agregado['Estacao Meteorol'] = df_agregado["Numero Agrupado"].map(mapa_estacoes)


# reorganiza a ordem das colunas
df_agregado = df_agregado[["Data", "Dia_Sem", "Periodo", "Numero Agrupado", "Faixa", "NumAg_fx","Fx_tipo","Eixo","Especie","Volume", "Vel_media", "Vel_mediana", "Vel_desvpad", "Ocu_media", "Ocu_mediana", "Ocu_desvpad", 'Estacao Meteorol']] # 17 sao as que vao ficar, mas ai tem 18



display(df_agregado.shape[1], df_agregado.head())

17

,Data,Dia_Sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad,Estacao Meteorol
0,2018-03-08 03:05:00,3,P1,10488,1,104881,onibus,Reboucas_C,0,1,86.0,86.0,NaN,400.0,400.0,NaN,CGE
1,2018-03-08 06:15:00,3,P2,10488,1,104881,onibus,Reboucas_C,0,1,22.0,22.0,NaN,1394.0,1394.0,NaN,CGE
2,2018-03-08 06:30:00,3,P2,10488,1,104881,onibus,Reboucas_C,0,1,72.0,72.0,NaN,542.0,542.0,NaN,CGE
3,2018-03-08 07:30:00,3,P3,10488,1,104881,onibus,Reboucas_C,0,1,47.0,47.0,NaN,920.0,920.0,NaN,CGE
4,2018-03-08 08:05:00,3,P3,10488,1,104881,onibus,Reboucas_C,0,1,92.0,92.0,NaN,369.0,369.0,NaN,CGE

### ate aqui temos 17 colunas finais

Foram adicionadas o 

* Período
* Eixo
* NumAg_fx
* Fx_tipo
* Estacao Meteorol

In [26]:
#to fazendo pra um radar de exemplo mas preciso fazer o mesmo processo para
# cada numero agrupado
# cada Especie
# Cada Faixa
# 24 horas do dia * 60 minutos por hora / 5 minutos = 288 registros por cada um dos 
# 288 * 4 especies * 3 faixas(em media) = 3456 por numero agrupado
# 3456 * 34 Num agrup = 117.504 linhas por dia
# 117504 * 30 dias = 35 milhoes
# por dia ate que nao esta muito nao, é um tamanho parecido com o DF que entra

radar10680 = df_agregado.loc[(df_agregado["Numero Agrupado"] == "10680")
            &   (df_agregado["Faixa"] == 1)
            &   (df_agregado["Especie"] == "1")

                ].sort_values(by="Data")

radar10680 = radar10680.set_index("Data").asfreq("5 min")

radar10680[["Numero Agrupado","Faixa","Especie","Dia_Sem","NumAg_fx","Fx_tipo","Eixo"]]=radar10680[["Numero Agrupado","Faixa","Especie","Dia_Sem","NumAg_fx", "Fx_tipo",	"Eixo"]].fillna(method="ffill")

In [41]:
chuva = pd.read_excel(r"D:\Users\guilh\Documents\[POLI]_6_Semestre\IC\2021\codigos olimpio\Radar X Chuva.xlsx", sheet_name = "Chuva", parse_dates=True)
chuva["DATA"] = pd.to_datetime(chuva["DATA"],format='%Y-%d-%m %H:%M:%S', errors='coerce').astype("datetime64[s]")
chuva = chuva[chuva.DATA.dt.month == 3]

# df_base["Data"] = pd.to_datetime(df_base["Data"],format='%Y-%d-%m %H:%M:%S', errors='coerce')

chuva.tail()

                     DATA  JB   VM  CGE   ST  PI  IP  BT  LA  SA
25914 2018-03-31 23:35:00   0    0    0    0   0   0   0   0   0
25915 2018-03-31 23:40:00   0    0    0    0   0   0   0   0   0
25916 2018-03-31 23:45:00   0    0  125  125   0   0   0   0   0
25917 2018-03-31 23:50:00   0    0  125  125   0   0   0   0   0
25918 2018-03-31 23:55:00   0  100    0    0   0   0   0   0   0

In [45]:
chuva = chuva.loc[ (chuva["DATA"] > "2018-03-14 23:59:00") & (chuva["DATA"] < "2018-03-16 00:00:00")]
chuva["JB"] = pd.to_numeric(chuva["JB"])
chuva["CGE"] = pd.to_numeric(chuva["CGE"])
chuva["ST"] = pd.to_numeric(chuva["ST"])
chuva["PI"] = pd.to_numeric(chuva["PI"])
chuva["BT"] = pd.to_numeric(chuva["BT"])
chuva["IP"] = pd.to_numeric(chuva["IP"])
chuva["LA"] = pd.to_numeric(chuva["LA"])
chuva["SA"] = pd.to_numeric(chuva["SA"])







chuva.reset_index(drop=True, inplace=True)
chuva.head()

                 DATA    JB    VM   CGE    ST    PI    IP    BT    LA    SA
0 2018-03-15 00:00:00  2750   800  2000   250  2200   600  6200  4125  2000
1 2018-03-15 00:05:00  2250  1300  3375  2125  4900  1000  2000  2125  2300
2 2018-03-15 00:10:00  2250  1300  3375  2125  4900  1000  2000  2125  2300
3 2018-03-15 00:15:00  2125  2800  1000  3625  1600  2300   400   500   400
4 2018-03-15 00:20:00  2125  2800  1000  3625  1600  2300   400   500   400

In [47]:
merged_radar10680 = radar10680.merge(chuva[["DATA", "PI"]],how="left",right_on= "DATA", left_on="Data")

# merged_radar10680["Chuva 1h"] = merged_radar10680["PI"].rolling(12).sum()

pd.set_option('max.rows',500) #printar mais linha para checar se cóigo funcionou

merged_radar10680.head(100)

,Dia_Sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad,Estacao Meteorol,DATA,PI
0,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,11.0,114.363636,114.0,9.698172,1051.909091,737.0,753.037510,PI,NaT,NaN
1,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,4.0,125.000000,123.5,8.755950,1210.250000,1378.0,415.723766,PI,NaT,NaN
2,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,5.0,119.400000,114.0,18.311199,710.600000,721.0,86.523407,PI,NaT,NaN
3,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,4.0,124.250000,126.5,18.191115,879.000000,672.0,511.624211,PI,NaT,NaN
4,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,9.0,115.333333,119.0,7.141428,1090.000000,725.0,641.067664,PI,NaT,NaN
5,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,119.666667,117.0,7.371115,930.666667,729.0,445.187975,PI,NaT,NaN
6,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,5.0,114.400000,114.0,11.081516,897.800000,691.0,453.423864,PI,NaT,NaN
7,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,4.0,118.750000,122.0,8.616844,926.250000,705.5,455.445112,PI,NaT,NaN
8,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,7.0,119.428571,122.0,13.113061,805.142857,717.0,271.536019,PI,NaT,NaN
9,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,10.0,119.400000,115.5,10.426462,929.000000,741.0,405.341831,PI,NaT,NaN
10,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,5.0,127.200000,125.0,11.054411,655.200000,634.0,75.598942,PI,NaT,NaN
11,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,114.000000,114.0,NaN,1491.000000,1491.0,NaN,PI,NaT,NaN
12,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,125.666667,125.0,7.023769,1066.666667,678.0,705.475962,PI,NaT,NaN
13,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,117.000000,117.0,19.798990,1135.000000,1135.0,707.106781,PI,NaT,NaN
14,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,108.500000,108.5,23.334524,1301.000000,1301.0,892.368758,PI,NaT,NaN
15,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,5.0,133.800000,122.0,25.704085,625.200000,683.0,121.413344,PI,NaT,NaN
16,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,4.0,120.000000,115.0,16.083117,882.000000,776.5,340.737436,PI,NaT,NaN
17,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,104.000000,104.0,21.213203,1281.000000,1281.0,883.883476,PI,NaT,NaN
18,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,122.500000,122.5,7.778175,631.000000,631.0,46.669048,PI,NaT,NaN
19,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,113.666667,119.0,17.616280,754.666667,700.0,156.340440,PI,NaT,NaN
20,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,131.000000,131.0,NaN,651.000000,651.0,NaN,PI,NaT,NaN
21,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,139.000000,139.0,46.669048,622.000000,622.0,227.688384,PI,NaT,NaN
22,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,113.500000,113.5,7.778175,1125.000000,1125.0,630.739249,PI,NaT,NaN
23,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,119.500000,119.5,7.778175,710.000000,710.0,31.112698,PI,NaT,NaN
24,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,137.333333,131.0,34.933270,629.666667,657.0,133.121498,PI,NaT,NaN
25,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,157.000000,157.0,69.296465,581.000000,581.0,295.570635,PI,NaT,NaN
26,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,108.500000,108.5,78.488853,1201.500000,1201.5,1000.556095,PI,NaT,NaN
27,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,125.000000,125.0,NaN,683.000000,683.0,NaN,PI,NaT,NaN
28,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,121.000000,121.0,9.899495,698.000000,698.0,53.740115,PI,NaT,NaN
29,3.0,NaN,10680,1.0,106801,onibus,Reboucas_C,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
30,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,122.500000,122.5,7.778175,699.000000,699.0,31.112698,PI,NaT,NaN
31,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,122.000000,122.0,NaN,1384.000000,1384.0,NaN,PI,NaT,NaN
32,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,108.000000,108.0,NaN,847.000000,847.0,NaN,PI,NaT,NaN
33,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,124.000000,124.0,9.899495,687.000000,687.0,53.740115,PI,NaT,NaN
34,3.0,NaN,10680,1.0,106801,onibus,Reboucas_C,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
35,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,133.000000,133.0,NaN,637.000000,637.0,NaN,PI,NaT,NaN
36,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,128.000000,128.0,NaN,657.000000,657.0,NaN,PI,NaT,NaN
37,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,122.000000,122.0,15.556349,1091.000000,1091.0,647.709812,PI,NaT,NaN
38,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,125.000000,125.0,NaN,676.000000,676.0,NaN,PI,NaT,NaN
39,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,128.000000,128.0,NaN,636.000000,636.0,NaN,PI,NaT,NaN
40,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,136.000000,136.0,NaN,610.000000,610.0,NaN,PI,NaT,NaN
41,3.0,NaN,10680,1.0,106801,onibus,Reboucas_C,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
42,3.0,NaN,10680,1.0,106801,onibus,Reboucas_C,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
43,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,139.000000,139.0,NaN,584.000000,584.0,NaN,PI,NaT,NaN
44,3.0,NaN,10680,1.0,106801,onibus,Reboucas_C,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
45,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,130.666667,125.0,20.108042,619.000000,690.0,176.553108,PI,NaT,NaN
46,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,117.000000,117.0,15.556349,1096.000000,1096.0,640.638744,PI,NaT,NaN
47,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,120.333333,131.0,20.231988,708.000000,627.0,142.902064,PI,NaT,NaN
48,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,119.000000,119.0,NaN,702.000000,702.0,NaN,PI,NaT,NaN
49,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,142.333333,125.0,45.544850,597.333333,660.0,184.177451,PI,NaT,NaN
50,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,178.000000,178.0,NaN,550.000000,550.0,NaN,PI,NaT,NaN
51,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,106.000000,106.0,NaN,778.000000,778.0,NaN,PI,NaT,NaN
52,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,107.333333,111.0,9.073772,1323.333333,1510.0,532.148789,PI,NaT,NaN
53,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,2.0,120.500000,120.5,17.677670,725.500000,725.5,47.376154,PI,NaT,NaN
54,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,8.0,116.250000,118.0,12.429803,1264.750000,1060.5,652.109927,PI,NaT,NaN
55,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,1.0,125.000000,125.0,NaN,622.000000,622.0,NaN,PI,NaT,NaN
56,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,111.000000,111.0,8.000000,1092.000000,1113.0,351.970169,PI,NaT,NaN
57,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,4.0,115.250000,112.5,13.175103,1137.250000,1120.0,508.734623,PI,NaT,NaN
58,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,110.333333,114.0,6.350853,1011.333333,834.0,437.818836,PI,NaT,NaN
59,3.0,P1,10680,1.0,106801,onibus,Reboucas_C,1,3.0,116.000000,117.0,1.732051,1147.333333,788.0,669.693462,PI,NaT,NaN
60,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,2.0,115.500000,115.5,2.121320,1487.500000,1487.5,36.062446,PI,NaT,NaN
61,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,4.0,116.750000,118.0,10.812801,1616.750000,1779.5,689.891960,PI,NaT,NaN
62,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,5.0,109.000000,106.0,10.839742,1592.000000,1598.0,496.782145,PI,NaT,NaN
63,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,4.0,113.250000,114.0,4.500000,1304.250000,1460.0,398.146853,PI,NaT,NaN
64,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,2.0,113.500000,113.5,7.778175,1750.500000,1750.5,499.924494,PI,NaT,NaN
65,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,9.0,111.777778,111.0,10.662760,1340.000000,1520.0,668.858729,PI,NaT,NaN
66,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,6.0,113.333333,112.5,7.865537,1207.000000,1140.0,554.083748,PI,NaT,NaN
67,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,8.0,107.750000,103.0,13.177362,1254.250000,1243.0,566.380173,PI,NaT,NaN
68,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,5.0,114.400000,114.0,22.142719,1292.000000,742.0,857.036464,PI,NaT,NaN
69,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,5.0,111.400000,108.0,4.979960,1322.800000,1568.0,501.969820,PI,NaT,NaN
70,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,13.0,113.923077,114.0,13.955056,979.076923,802.0,472.937005,PI,NaT,NaN
71,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,12.0,110.750000,108.5,14.918719,1261.750000,1201.0,608.270592,PI,NaT,NaN
72,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,11.0,123.727273,117.0,34.747923,1044.363636,746.0,536.115897,PI,NaT,NaN
73,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,13.0,119.538462,119.0,16.721321,1093.076923,701.0,685.775408,PI,NaT,NaN
74,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,12.0,120.250000,118.0,9.964710,1170.750000,717.5,654.735634,PI,NaT,NaN
75,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,12.0,111.333333,109.5,7.010814,909.833333,758.0,353.646416,PI,NaT,NaN
76,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,12.0,117.000000,117.0,11.739599,1013.000000,733.0,514.529794,PI,NaT,NaN
77,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,13.0,109.461538,111.0,6.628416,1319.076923,1521.0,550.556606,PI,NaT,NaN
78,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,15.0,116.066667,114.0,9.989042,1004.000000,769.0,525.119442,PI,NaT,NaN
79,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,15.0,112.533333,114.0,8.114068,965.133333,761.0,399.163924,PI,NaT,NaN
80,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,17.0,113.176471,114.0,9.780307,1200.764706,763.0,686.866847,PI,NaT,NaN
81,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,13.0,110.307692,111.0,11.397256,1186.153846,899.0,592.184212,PI,NaT,NaN
82,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,22.0,107.181818,103.0,14.901698,1079.181818,853.0,478.766136,PI,NaT,NaN
83,3.0,P2,10680,1.0,106801,onibus,Reboucas_C,1,14.0,110.785714,111.0,7.637746,881.428571,779.5,333.710080,PI,NaT,NaN
84,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,20.0,98.500000,107.0,22.302938,1040.800000,807.0,416.529092,PI,NaT,NaN
85,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,29.0,95.344828,97.0,16.082990,1072.620690,877.0,447.134401,PI,NaT,NaN
86,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,19.0,99.526316,103.0,14.504285,1020.157895,808.0,529.940171,PI,NaT,NaN
87,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,24.0,106.750000,106.0,8.832992,855.916667,801.0,245.087547,PI,NaT,NaN
88,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,26.0,105.461538,106.0,10.951642,937.500000,827.5,345.974248,PI,NaT,NaN
89,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,21.0,106.857143,108.0,10.636192,929.761905,806.0,424.648667,PI,NaT,NaN
90,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,17.0,108.117647,108.0,14.907558,960.294118,771.0,460.404817,PI,NaT,NaN
91,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,22.0,116.454545,118.0,13.179086,900.954545,714.5,439.038069,PI,NaT,NaN
92,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,17.0,110.823529,111.0,10.989969,1088.823529,775.0,586.604342,PI,NaT,NaN
93,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,22.0,110.045455,117.0,17.597287,856.045455,743.0,264.530037,PI,NaT,NaN
94,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,22.0,110.681818,107.0,11.003836,835.409091,773.5,265.497316,PI,NaT,NaN
95,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,14.0,109.285714,110.0,15.122213,912.285714,734.0,430.149603,PI,NaT,NaN
96,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,25.0,117.840000,117.0,10.621048,822.760000,715.0,415.338645,PI,NaT,NaN
97,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,28.0,115.464286,114.0,10.598680,732.678571,728.5,61.463662,PI,NaT,NaN
98,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,29.0,109.034483,111.0,17.919428,869.931034,760.0,286.345811,PI,NaT,NaN
99,3.0,P3,10680,1.0,106801,onibus,Reboucas_C,1,23.0,114.913043,114.0,9.428743,904.913043,747.0,357.498876,PI,NaT,NaN