In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

num_agrupado = ["10588","10613","10613","10619","10622","10632","10632","10634","10634","10652","10652","10667","10667","10516","10528","10528","10554","10605","10637","10637","10637","10644","10644","10644","10644","10488","10488","10509","10509","10556","10556","10557","10557","10594","10594","10595","10595","10679","10679","10680","10680","10748","10748","10761","10761","10426","10426","10426","10433","10433","10433","10433","10482","10482","10482","10482","10484","10484","10484","10492","10492","10500","10507","10521","10527","10527","10531","10531"]

Radares = [5415,5483,5126,5471,5470,5316,5315,5313,5314,5358,5357,5355,5356,5463,5297,5296,5354,5098,5476,5475,5474,5479,5478,5477,5480,5323,5226,5308,5307,5432,5433,5414,5413,5201,5200,5199,5198,5205,5204,5203,5202,5196,5197,5195,5194,5445,5104,5446,5103,5462,5461,5460,5441,5106,5443,5442,5439,5105,5440,5457,5449,5317,5101,5506,5336,5335,5402,5401]


# cria um dicionário
def faz_dict (keys, values):
    '''
        Cria um dicionário com a correspondência entre 
        chaves e valores. Com a função .map() pode, ser
        adicionadas novas colunas no DF.

        Inputs:
            keys: (list) chaves que estão no presente DF
            values: (list) valores que serão inputados na nova coluna

        Return:
            mapa: (dict) mapa de correspondência
    '''

    mapa = {}
    for i in range(len(keys)):
        mapa[keys[i]] = values[i]

    return mapa

In [2]:
estacoes = ["BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","BT","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","VM","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","CGE","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","IP","JB","JB","JB","JB","JB","JB","JB","JB","JB","JB","LP","LP","LP","LP","LP","LP","LP","LP","LP","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","PI","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","SA","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","ST","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM","VM"]

numeros_agrupados = [10875,10862,10874,10858,10858,10893,10893,10864,10848,10906,10900,10904,10905,10605,10433,10426,10468,10508,10508,10613,10538,10616,10631,10505,10533,10607,10524,10479,10565,10586,10583,10587,10587,10584,10584,10514,10514,10513,10513,10595,10595,10594,10594,10582,10582,10585,10585,10555,10552,10488,10615,10464,10560,10543,10543,10540,10542,10512,10509,10509,10438,10497,10532,10532,10488,10502,10459,10454,10480,10591,10540,10591,10520,10554,10590,10537,10609,10609,10506,10506,10490,10490,10557,10557,10517,10556,10556,10426,10426,10568,10596,10596,10433,10433,10433,10628,10622,10619,10613,10538,10616,10468,10476,10476,10276,10306,10305,10348,10348,10337,10337,10309,10309,10310,10310,10302,10302,10293,10352,10262,10262,10353,10235,10269,10291,10292,10434,10434,10408,10371,10368,10380,10381,10434,10381,10381,10933,10940,10881,10877,10947,10911,10933,10894,10895,10770,10725,10655,10655,10702,10702,10701,10701,10630,10630,10674,10675,10670,10656,10654,10654,10720,10692,10732,10684,10709,10672,10788,10715,10807,10807,10683,10683,10762,10762,10834,10834,10761,10761,10748,10748,10680,10680,10679,10679,10635,10635,10808,10658,10664,10653,10820,10815,10815,10724,10713,10712,10711,10810,10689,10634,10634,10632,10632,10745,10800,10800,10670,10689,10742,10742,10747,10747,10798,10798,10665,10665,10830,10667,10667,10652,10652,10669,10669,10698,10698,10697,10697,10640,10640,10686,10686,10736,10736,10731,10731,10789,10703,10829,10729,10656,10764,10678,10763,10637,10637,10637,10644,10644,10644,10644,10658,10767,10704,10673,10627,10627,10625,10625,10592,10592,10578,10578,10650,10527,10527,10534,10474,10474,10471,10471,10531,10531,10589,10511,10511,10521,10623,10564,10564,10614,10614,10577,10577,10536,10620,10620,10477,10498,10498,10526,10526,10588,10530,10536,10645,10325,10323,10507,10356,10484,10482,10277,10431,10478,10606,10606,10539,10539,10487,10452,10458,10475,10384,10374,10566,10398,10357,10304,10544,10544,10375,10440,10334,10363,10363,10344,10344,10431,10321,10321,10351,10317,10529,10541,10541,10528,10528,10563,10500,10410,10410,10451,10525,10457,10346,10346,10496,10496,10489,10489,10361,10361,10358,10358,10367,10367,10420,10420,10421,10421,10465,10465,10561,10377,10290,10314,10486,10413,10413,10356,10356,10484,10484,10482,10482,10482,10357,10492,10492,10516,10572,10572,10410,10420,10421,10377,10486,10413,10413,10374,10374]

mapa_estacoes = faz_dict(numeros_agrupados, estacoes)

In [3]:
pd.set_option('display.max_columns', None)
a = pd.read_csv(r'D:\Users\guilh\Documents\GitHub\Dados_CET\csv_radares-20200426T211130Z-001_selecionados/'+"01_selecionado.csv", index_col=["Unnamed: 0"])
a.head()

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao,Indice de Minutos
0,L3,2018-02-28 23:56:22,5323,3,0,1095514,0,1,0,048,136,00649,84956
1,L3,2018-02-28 23:56:32,5323,3,0,1095515,0,1,0,039,100,00772,84956
2,L3,2018-02-28 23:56:53,5323,3,0,1095516,0,1,0,043,119,00694,84956
3,L3,2018-02-28 23:56:55,5323,3,0,1095517,0,1,0,032,122,00599,84956
4,L3,2018-02-28 23:56:58,5323,3,0,1095518,0,1,0,041,128,00633,84956

In [4]:
# verificação
# antes temos um x registros no (radar, faixa) = (5479,3)
# e y registros (radar, faixa) = (5478,_) sendo _ qualquer faixa


display(a.loc[(a["Local"]==5479) & (a["Faixa"] == 3), ["Local", "Faixa"]])
display(a.loc[(a["Local"]==5478), ["Local", "Faixa"]])
# mas lembrando que ainda tiramos os nan

        Local  Faixa
267129   5479      3
267158   5479      3
267162   5479      3
267165   5479      3
267166   5479      3
...       ...    ...
276663   5479      3
276671   5479      3
276673   5479      3
276674   5479      3
276682   5479      3

[1696 rows x 2 columns]

        Local  Faixa
276684   5478      2
276685   5478      2
276686   5478      2
276687   5478      2
276688   5478      2
...       ...    ...
293318   5478      3
293319   5478      2
293320   5478      3
293321   5478      3
293322   5478      2

[16639 rows x 2 columns]

In [35]:
# cria a coluna de numeros agrupados
a['Numero Agrupado'] = a['Local'].map(faz_dict(Radares,num_agrupado))

#coloca a Data e datetime object para facilitar manipulacao
a.Data=pd.to_datetime(a.Data)

# cria a coluna do dia da semana
# ###############IMPORTANTE############# segunda = 0
a["dia_sem"] = a.Data.dt.dayofweek


########## UPDATE ###########
# transforma todos radares 5479 na faixa 3, (5479,3) em radares 5478 na faixa 3 (5478,3)
# pode ficar tranquilo por que eles tem o mesmo numero agrupado
a.loc[(a["Local"]==5479) & (a["Faixa"] == 3), "Local"] = 5478

# limpa a ocupacao
a.drop(a.loc[a['Ocupacao'] =='     ','Ocupacao'].index, inplace=True)
a.Ocupacao = a.Ocupacao.astype(int)
a.Ocupacao = a.Ocupacao
#dropa vazios
a.drop(a.loc[a['Velocidade'] =='   ','Velocidade'].index, inplace=True)

#dropa não válidos (nan)
a.loc[:,'Velocidade'].dropna(inplace=True)

#coloca tudo no mesmo formato de dado int
a.loc[:,'Velocidade'] = pd.to_numeric(a.loc[:,'Velocidade'])
# a.loc[:,'Numero Agrupado'] = pd.to_numeric(a.loc[:,'Numero Agrupado'])
a['Numero Agrupado'] = a['Numero Agrupado'].astype(float)

a.reset_index(drop=True,inplace=True)


a = a[['Lote', 'Data', "dia_sem", 'Local', 'Numero Agrupado', 'Faixa', 'Entrefaixa',
       'Registro', 'Tipo de Registro', 'Especie',
      'Classe', 'Comprimento', 'Velocidade', 'Ocupacao']]
a.head()

,Lote,Data,dia_sem,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-02-28 23:56:22,2,5323,10488.0,3,0,1095514,0,1,0,048,136,649
1,L3,2018-02-28 23:56:32,2,5323,10488.0,3,0,1095515,0,1,0,039,100,772
2,L3,2018-02-28 23:56:53,2,5323,10488.0,3,0,1095516,0,1,0,043,119,694
3,L3,2018-02-28 23:56:55,2,5323,10488.0,3,0,1095517,0,1,0,032,122,599
4,L3,2018-02-28 23:56:58,2,5323,10488.0,3,0,1095518,0,1,0,041,128,633

In [64]:
Ag = a

Ag.loc[:,'V1'] = Ag.loc[:,'Velocidade'].copy()
Ag.loc[:,'V2'] = Ag.loc[:,'Velocidade'].copy()
Ag.loc[:,'Oc1'] = Ag.loc[:,'Ocupacao'].copy()
Ag.loc[:,'Oc2'] = Ag.loc[:,'Ocupacao'].copy()
Ag = Ag.groupby([ 'Numero Agrupado',"Faixa",'Especie',pd.Grouper(key='Data', freq='5Min')]).agg({'dia_sem': "mean",
                                                                        "Registro": "count",
                                                                        'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Ocupacao':'mean',
                                                                        'Oc1':'median',
                                                                        'Oc2':'std',
                                                                        })
Ag.columns=['dia_sem',
            "Volume",
            'Vel_media',
            'Vel_mediana',
            'Vel_desvpad',
            'Ocu_media',
            'Ocu_mediana',
            'Ocu_desvpad',
            ] # Renomeia

    

 #   df_group = df_new_s.groupby(['Local','Número Agrupado','Especie','Classe', pd.Grouper(key='Data', freq=freq)]).agg({
#                                                                            'Velocidade': 'mean',
##                                                                            'V1':'median',
 #                                                                           'V2':'std',
#                                                                            'Registro':'count'})
Ag.reset_index(inplace=True)
Ag

,Numero Agrupado,Faixa,Especie,Data,dia_sem,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,10488.0,1,0,2018-01-03 08:20:00,2,1,83.0,83.0,NaN,643.0,643.0,NaN
1,10488.0,1,0,2018-01-03 08:35:00,2,1,19.0,19.0,NaN,2314.0,2314.0,NaN
2,10488.0,1,0,2018-01-03 09:25:00,2,1,94.0,94.0,NaN,378.0,378.0,NaN
3,10488.0,1,0,2018-01-03 10:10:00,2,1,86.0,86.0,NaN,526.0,526.0,NaN
4,10488.0,1,0,2018-01-03 10:25:00,2,2,286.0,286.0,318.198052,412.5,412.5,482.953932
...,...,...,...,...,...,...,...,...,...,...,...,...
42258,10761.0,3,3,2018-01-03 23:05:00,2,1,111.0,111.0,NaN,1201.0,1201.0,NaN
42259,10761.0,3,3,2018-01-03 23:15:00,2,1,100.0,100.0,NaN,884.0,884.0,NaN
42260,10761.0,3,3,2018-01-03 23:25:00,2,1,100.0,100.0,NaN,894.0,894.0,NaN
42261,10761.0,3,3,2018-01-03 23:30:00,2,1,117.0,117.0,NaN,1052.0,1052.0,NaN
42262,10761.0,3,3,2018-01-03 23:35:00,2,1,92.0,92.0,NaN,1352.0,1352.0,NaN

In [61]:
c = Ag
c["Periodo"] = "y"
c.head()

,Numero Agrupado,Faixa,Especie,Data,dia_sem,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad,Periodo,NumAg_fx,Eixo
0,10488.0,1,0,2018-01-03 08:20:00,2,1,83.0,83.0,NaN,643.0,643.0,NaN,y,10488.01,NaN
1,10488.0,1,0,2018-01-03 08:35:00,2,1,19.0,19.0,NaN,2314.0,2314.0,NaN,y,10488.01,NaN
2,10488.0,1,0,2018-01-03 09:25:00,2,1,94.0,94.0,NaN,378.0,378.0,NaN,y,10488.01,NaN
3,10488.0,1,0,2018-01-03 10:10:00,2,1,86.0,86.0,NaN,526.0,526.0,NaN,y,10488.01,NaN
4,10488.0,1,0,2018-01-03 10:25:00,2,2,286.0,286.0,318.198052,412.5,412.5,482.953932,y,10488.01,NaN

In [62]:

labels = np.array(["P1","P2","P3","P4","P5","P6","P7"])
intervalos = pd.IntervalIndex.from_tuples([(0,5),(5,7),(7,10),(10,14),(14,17),(17,20),(20,24)], closed="left")

c['aux'] = pd.cut(np.array(c.Data.dt.hour), intervalos)
# if c.loc[  ( c['Data'].dt.hour > 0) and (c['Data'].dt.hour <= 5)  ] :

#     c["Periodo"] = "P1"
display(c.head())

,Numero Agrupado,Faixa,Especie,Data,dia_sem,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad,Periodo,NumAg_fx,Eixo,aux
0,10488.0,1,0,2018-01-03 08:20:00,2,1,83.0,83.0,NaN,643.0,643.0,NaN,y,10488.01,NaN,"[7, 10)"
1,10488.0,1,0,2018-01-03 08:35:00,2,1,19.0,19.0,NaN,2314.0,2314.0,NaN,y,10488.01,NaN,"[7, 10)"
2,10488.0,1,0,2018-01-03 09:25:00,2,1,94.0,94.0,NaN,378.0,378.0,NaN,y,10488.01,NaN,"[7, 10)"
3,10488.0,1,0,2018-01-03 10:10:00,2,1,86.0,86.0,NaN,526.0,526.0,NaN,y,10488.01,NaN,"[10, 14)"
4,10488.0,1,0,2018-01-03 10:25:00,2,2,286.0,286.0,318.198052,412.5,412.5,482.953932,y,10488.01,NaN,"[10, 14)"

In [63]:
intervalos = pd.IntervalIndex.from_tuples([(0,5),(5,7),(7,10),(10,14),(14,17),(17,20),(20,24)])
# inter = ["(0.0, 5.0]","(5.0, 7.0]","(7.0, 10.0]","(10.0, 14.0]","(14.0, 17.0]","(17.0, 20.0]","(20.0, 24.0]"]

sentidos = ["Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Brasil_N","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_N","Brasil_N","Brasil_N","Brasil_N","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C"]




inter = ["[0, 5)","[5, 7)","[7, 10)","[10, 14)","[14, 17)","[17, 20)","[20, 24)"]
# "P1","P2","P3","P4","P5","P6","P7"

mapb = {}
for i in range(len(labels)):
    mapb[inter[i]] = labels[i]

try:
    c['aux'] = c['aux'].astype(str)
    c['Periodo'] = c['aux'].map(mapb)
    c.drop(columns=["aux"],inplace=True, axis = 0)
except:
    pass

c['Numero Agrupado'] = c['Numero Agrupado'].astype(str)

c["NumAg_fx"] = c["Numero Agrupado"][:5] + c['Faixa'].astype(str)
# c["Faixa"] = c["Faixa"][:5] + c["Faixa"]
c['Numero Agrupado'] = c['Numero Agrupado'].astype(float)



mapc = {}
for i in range(len(num_agrupado)):
    mapc[num_agrupado[i]] = sentidos[i]

c["Eixo"] = c["Numero Agrupado"].map(mapc)



# display(c[["Numero Agrupado", "Data", "Especie", "Periodo"]])
c =c[["Data", "dia_sem", "Periodo", "Numero Agrupado", "Faixa", "NumAg_fx","Eixo","Especie","Volume", "Vel_media", "Vel_mediana", "Vel_desvpad", "Ocu_media", "Ocu_mediana", "Ocu_desvpad"]] 
display(c.head())

,Data,dia_sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,2018-01-03 08:20:00,2,P3,10488.0,1,10488.01,NaN,0,1,83.0,83.0,NaN,643.0,643.0,NaN
1,2018-01-03 08:35:00,2,P3,10488.0,1,10488.01,NaN,0,1,19.0,19.0,NaN,2314.0,2314.0,NaN
2,2018-01-03 09:25:00,2,P3,10488.0,1,10488.01,NaN,0,1,94.0,94.0,NaN,378.0,378.0,NaN
3,2018-01-03 10:10:00,2,P4,10488.0,1,10488.01,NaN,0,1,86.0,86.0,NaN,526.0,526.0,NaN
4,2018-01-03 10:25:00,2,P4,10488.0,1,10488.01,NaN,0,2,286.0,286.0,318.198052,412.5,412.5,482.953932

In [41]:
colunas = ["Id","Data", "dia_sem", "Periodo", "Numero Agrupado", "Faixa", "Fx_tipo", "NumAg_fx", "eixo","Especie","Volume", "Vel_media", "Vel_mediana", "Vel_desvpad", "Oc_media", "Oc_mediana", "Oc_desvpad", "chuva_5min", "chuva_1h"]
len(colunas)

19

In [42]:
tip_faixa = ["mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","onibus","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista"]

num_faixa = ["104261","104262","104263","104264","104331","104332","104333","104334","104335","104821","104822","104823","104824","104825","104841","104842","104843","104844","104845","104881","104882","104883","104884","104921","104922","104923","105001","105002","105003","105071","105072","105091","105092","105093","105094","105161","105162","105163","105164","105211","105212","105213","105281","105282","105283","105284","105311","105312","105313","105314","105541","105542","105543","105561","105562","105563","105564","105571","105572","105573","105574","105881","105882","105883","105884","105941","105942","105943","105951","105952","105953","106051","106052","106053","106131","106132","106133","106134","106135","106191","106192","106193","106221","106222","106223","106321","106322","106323","106341","106342","106343","106371","106372","106373","106374","106375","106376","106441","106442","106443","106444","106445","106446","106521","106522","106523","106524","106671","106672","106673","106674","106791","106792","106793","106801","106802","106803","107481","107482","107483","107611","107612","107613"]

mapfaixas = faz_dict(num_faixa,tip_faixa)
c["Fx_tipo"] = c["NumAg_fx"].map(mapfaixas)

c =c[["Data", "dia_sem", "Periodo", "Numero Agrupado", "Faixa", "NumAg_fx","Fx_tipo","Eixo","Especie","Volume", "Vel_media", "Vel_mediana", "Vel_desvpad", "Ocu_media", "Ocu_mediana", "Ocu_desvpad"]] 
display(c.shape[1], c.head())

# caso queria fazer alguma verificação mais específica
# c.loc[  (c["Numero Agrupado"] == "10556") & (c["Faixa"] == 2)  ]

16

,Data,dia_sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,2018-01-03 08:20:00,2,P3,10488.0,1,10488.01,NaN,NaN,0,1,83.0,83.0,NaN,643.0,643.0,NaN
1,2018-01-03 08:35:00,2,P3,10488.0,1,10488.01,NaN,NaN,0,1,19.0,19.0,NaN,2314.0,2314.0,NaN
2,2018-01-03 09:25:00,2,P3,10488.0,1,10488.01,NaN,NaN,0,1,94.0,94.0,NaN,378.0,378.0,NaN
3,2018-01-03 10:10:00,2,P4,10488.0,1,10488.01,NaN,NaN,0,1,86.0,86.0,NaN,526.0,526.0,NaN
4,2018-01-03 10:25:00,2,P4,10488.0,1,10488.01,NaN,NaN,0,2,286.0,286.0,318.198052,412.5,412.5,482.953932

# c esta num bom estado para juntar com a chuva

In [43]:
b = c.sample(frac=0.1)
b.reset_index(drop=True, inplace=True)

In [44]:
b.loc[(b["Numero Agrupado"]=="10488")
    & (b["Data"] == "2018-01-03 00:00:00")
].sort_values(by="Data")

Empty DataFrame
Columns: [Data, dia_sem, Periodo, Numero Agrupado, Faixa, NumAg_fx, Fx_tipo, Eixo, Especie, Volume, Vel_media, Vel_mediana, Vel_desvpad, Ocu_media, Ocu_mediana, Ocu_desvpad]
Index: []

In [45]:
b.sort_values(by="Numero Agrupado")

,Data,dia_sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
2112,2018-01-03 05:00:00,2,P2,10488.0,1,10488.01,NaN,NaN,1,1,111.000000,111.0,NaN,600.000000,600.0,NaN
212,2018-01-03 17:00:00,2,P6,10488.0,3,10488.03,NaN,NaN,0,18,85.500000,87.5,22.210888,381.111111,359.5,156.679474
2478,2018-01-03 14:35:00,2,P5,10488.0,4,10488.04,NaN,NaN,3,2,57.000000,57.0,33.941125,2076.500000,2076.5,1423.405951
2467,2018-01-03 08:25:00,2,P3,10488.0,3,10488.03,NaN,NaN,2,2,87.500000,87.5,6.363961,1234.500000,1234.5,14.849242
2450,2018-01-03 09:25:00,2,P3,10488.0,3,10488.03,NaN,NaN,1,53,104.490566,108.0,20.487916,809.037736,741.0,220.025083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2018-01-03 02:45:00,2,P1,10761.0,2,10761.02,NaN,NaN,0,1,119.000000,119.0,NaN,360.000000,360.0,NaN
357,2018-01-03 13:00:00,2,P4,10761.0,2,10761.02,NaN,NaN,0,20,116.700000,118.0,17.244679,275.050000,281.0,52.873708
61,2018-01-03 22:35:00,2,P7,10761.0,2,10761.02,NaN,NaN,3,1,86.000000,86.0,NaN,1659.000000,1659.0,NaN
518,2018-01-03 18:15:00,2,P6,10761.0,3,10761.03,NaN,NaN,1,58,83.724138,78.0,15.766713,1027.965517,1055.5,181.031156
1428,2018-01-03 20:55:00,2,P7,10761.0,3,10761.03,NaN,NaN,3,1,94.000000,94.0,NaN,946.000000,946.0,NaN

In [46]:
b.loc[    (b['Data'] > "2018-01-03 19:55:00") 
        & (b['Data'] <= "2018-01-03 20:00:00") 
        & (b["Numero Agrupado"] == 10637)
  ].shape # (15 linhas e 14 colunas)

b.loc[    (b['Data'] > "2018-01-03 20:00:00") 
        & (b['Data'] <= "2018-01-03 20:05:00") 
        & (b["Numero Agrupado"] == 10637)
  ].shape # (21 linhas e 14 colunas)

(1, 16)

In [47]:
chuva = pd.read_excel(r"D:\Users\guilh\Documents\[POLI]_6_Semestre\IC\2021\codigos olimpio\Radar X Chuva.xlsx", sheet_name = "Chuva")
chuva["DATA"] = pd.to_datetime(chuva["DATA"]).astype("datetime64[s]")

chuva = chuva.loc[ (chuva["DATA"] > "2018-03-01") & (chuva["DATA"] <= "2018-04-01")]
chuva.reset_index(drop=True, inplace=True)
chuva

                    DATA  JB   VM  CGE   ST  PI  IP  BT  LA  SA
0    2018-03-01 00:05:00   0    0    0    0   0   0   0   0   0
1    2018-03-01 00:10:00   0    0    0    0   0   0   0   0   0
2    2018-03-01 00:15:00   0    0    0    0   0   0   0   0   0
3    2018-03-01 00:20:00   0    0    0    0   0   0   0   0   0
4    2018-03-01 00:25:00   0    0    0    0   0   0   0   0   0
...                  ...  ..  ...  ...  ...  ..  ..  ..  ..  ..
8923 2018-03-31 23:40:00   0    0    0    0   0   0   0   0   0
8924 2018-03-31 23:45:00   0    0  125  125   0   0   0   0   0
8925 2018-03-31 23:50:00   0    0  125  125   0   0   0   0   0
8926 2018-03-31 23:55:00   0  100    0    0   0   0   0   0   0
8927 2018-04-01 00:00:00   0  100    0    0   0   0   0   0   0

[8928 rows x 10 columns]

In [48]:
PI = chuva.loc[:,["DATA","PI"]]
# PI["DATA"].astype("datetime64[s]")
# datetime.datetime.today().replace(microsecond=0)
PI

                    DATA  PI
0    2018-03-01 00:05:00   0
1    2018-03-01 00:10:00   0
2    2018-03-01 00:15:00   0
3    2018-03-01 00:20:00   0
4    2018-03-01 00:25:00   0
...                  ...  ..
8923 2018-03-31 23:40:00   0
8924 2018-03-31 23:45:00   0
8925 2018-03-31 23:50:00   0
8926 2018-03-31 23:55:00   0
8927 2018-04-01 00:00:00   0

[8928 rows x 2 columns]

In [49]:
b['Estacao Meteorol'] = b["Numero Agrupado"].map(mapa_estacoes)
b_copia = b.copy()
# b_copia.dropna(axis=0, how="any", inplace=True)
# b_copia.reset_index(drop=True, inplace=True)

In [52]:
radar_10652 = b_copia[b_copia["Numero Agrupado"] == 10652]
radar_10652.sort_values(by="Data")

,Data,dia_sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad,Estacao Meteorol
4163,2018-01-03 00:05:00,2,P1,10652.0,1,10652.01,NaN,NaN,1,39,113.974359,117.0,11.565573,735.384615,740.0,86.059531,PI
1992,2018-01-03 00:10:00,2,P1,10652.0,1,10652.01,NaN,NaN,1,41,109.707317,111.0,17.619937,777.536585,750.0,189.792926,PI
3315,2018-01-03 00:15:00,2,P1,10652.0,4,10652.04,NaN,NaN,1,24,101.791667,103.0,12.082971,837.166667,803.0,110.867593,PI
757,2018-01-03 00:15:00,2,P1,10652.0,1,10652.01,NaN,NaN,0,1,100.000000,100.0,NaN,430.000000,430.0,NaN,PI
3289,2018-01-03 00:25:00,2,P1,10652.0,3,10652.03,NaN,NaN,1,34,118.735294,117.0,21.828962,711.529412,718.5,94.059696,PI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,2018-01-03 23:30:00,2,P7,10652.0,4,10652.04,NaN,NaN,2,1,119.000000,119.0,NaN,2193.000000,2193.0,NaN,PI
1799,2018-01-03 23:35:00,2,P7,10652.0,4,10652.04,NaN,NaN,1,7,113.571429,117.0,18.383481,869.857143,715.0,462.548891,PI
808,2018-01-03 23:35:00,2,P7,10652.0,4,10652.04,NaN,NaN,0,1,111.000000,111.0,NaN,361.000000,361.0,NaN,PI
2153,2018-01-03 23:45:00,2,P7,10652.0,3,10652.03,NaN,NaN,0,2,128.000000,128.0,15.556349,226.000000,226.0,4.242641,PI
4130,2018-01-03 23:50:00,2,P7,10652.0,4,10652.04,NaN,NaN,2,2,112.500000,112.5,6.363961,1493.000000,1493.0,56.568542,PI

In [ ]:
data_teste = chuva["DATA"] - timedelta(minutes = 5)
data_teste

In [ ]:
# for n in Radares:
#     #print(n)

#     # Não são todos os IDs de radares que estão presentes em todos os arquivos excel
#     # Portanto, os subsets de "Locais" que não estao no set são preenchidos com 0
#     # foi feito assim para poder usar o mesmo codigo em todos os arquivos, 
#     # já que uns tem tantos radares que outros nao tem
    
    
#     try: 

#         a_subset = a.xs((n,0,0), axis = 0) # n é o LOCAL em questao, 0 é so pra pegar "Carros"
    
#     except:
    
    
#         # aqui, quando o radar nao é encontrado, já criamos um subset com zeros
#         a_subset = pd.DataFrame({"Local":0000, "Data":a_subset['Data'], "Vel_media":0, "Vel_mediana":0, "Vel_std":0, "Volume":1})

#     # para a correlação, os dados tem que estar no seguinte formato:
#     # Cada linha é uma variável, no nosso caso, cada radar
#     # Cada coluna é uma observação, é cada uma das Vel_media, Vel_std, Vel_mediana
#     # Para que a correlação seja valida, cada radar deve ter o mesmo numero de observações
#     # Sendo assim, fazemos o preenchimento do DF com a ULTIMA OBSERVAÇÃO


#     # O LIMITE pode ser diferente para cada arquivo
#     # Os dados que usei so tinham observações de 2h, agrupado em 1min, portanto limite = 120 minutos
#     # caso fosse dados de UM dia agrupados em 1min, limite = 1440 (minutos num dia)
#     # caso fosse dados de UM dia agrupados em min, limite = 1440/5 = 288
    
#     while a_subset.shape[0] < limite : #faz preenchimento com o ulitmo para a correlação
#         a_subset = a_subset.append(a_subset.tail(1),ignore_index=True)