In [1]:
import pandas as pd
import os
import numpy as np
from datetime import timedelta
from datetime import datetime
import timeit

In [2]:
df = pd.read_csv("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ 'tercas' + "/" + "6" +"_selecionado.csv", index_col="Unnamed: 0")

df["Data"] = pd.to_datetime(df["Data"],format='%Y-%m-%d %H:%M:%S', errors='coerce')

df.head()

,Lote,Data,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-03-05 23:56:00,5323,10488,2,0,202135,0,351855,4,1.0,0.0,45.0,108.0,766.0
1,L3,2018-03-05 23:56:00,5323,10488,3,0,202136,0,908948,9,1.0,0.0,42.0,97.0,835.0
2,L3,2018-03-05 23:56:00,5323,10488,4,0,202137,0,314820,3,1.0,0.0,40.0,122.0,656.0
3,L3,2018-03-05 23:56:00,5323,10488,4,0,202138,0,,,1.0,0.0,44.0,108.0,772.0
4,L3,2018-03-05 23:56:00,5323,10488,2,0,202139,0,97455,6,1.0,0.0,39.0,106.0,761.0

In [3]:
df.Data.dt.date[60].month, df.Data.dt.date[60].day

(3, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 594809 entries, 0 to 594808
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Lote              594809 non-null  object
 1   Data              594809 non-null  datetime64[ns]
 2   Local             594809 non-null  int64
 3   Numero Agrupado   594809 non-null  int64
 4   Faixa             594809 non-null  int64
 5   Entrefaixa        594809 non-null  int64
 6   Registro          594809 non-null  int64
 7   Tipo de Registro  594809 non-null  int64
 8   Veiculo           594809 non-null  object
 9   Final de Placa    594809 non-null  object
 10  Especie           594218 non-null  float64
 11  Classe            594218 non-null  float64
 12  Comprimento       594218 non-null  float64
 13  Velocidade        594218 non-null  float64
 14  Ocupacao          594218 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(3)
memory usage: 88.7+ MB

In [5]:
df_base = df.copy()


df_base["Data"] = pd.to_datetime(df_base["Data"],format='%Y-%m-%d %H:%M:%S', errors='coerce')


# limpa a ocupacao
df_base.drop(df_base.loc[df_base['Ocupacao'] =='     ','Ocupacao'].index, inplace=True)
df_base.Ocupacao = df_base.Ocupacao.astype(float)

#dropa vazios
df_base.drop(df_base.loc[df_base['Velocidade'] =='   ','Velocidade'].index, inplace=True)

#dropa não válidos (nan)
df_base.loc[:,'Velocidade'].dropna(inplace=True)

#coloca tudo no mesmo formato de dado int
df_base.loc[:,'Velocidade'] = pd.to_numeric(df_base.loc[:,'Velocidade'])

# colocar faixa no formato int
df_base.loc[:,'Faixa'] = pd.to_numeric(df_base.loc[:,'Faixa'])

# colocar Especie no formato int
df_base.loc[:,'Especie'] = pd.to_numeric(df_base.loc[:,'Especie'])

###### Numero Agrupado é uma String

df_base.reset_index(drop=True,inplace=True)

df_base.head()

,Lote,Data,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-03-05 23:56:00,5323,10488,2,0,202135,0,351855,4,1.0,0.0,45.0,108.0,766.0
1,L3,2018-03-05 23:56:00,5323,10488,3,0,202136,0,908948,9,1.0,0.0,42.0,97.0,835.0
2,L3,2018-03-05 23:56:00,5323,10488,4,0,202137,0,314820,3,1.0,0.0,40.0,122.0,656.0
3,L3,2018-03-05 23:56:00,5323,10488,4,0,202138,0,,,1.0,0.0,44.0,108.0,772.0
4,L3,2018-03-05 23:56:00,5323,10488,2,0,202139,0,97455,6,1.0,0.0,39.0,106.0,761.0

In [6]:
df_base.Data.dt.date[60].month, df_base.Data.dt.date[60].day

(3, 6)

In [7]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594809 entries, 0 to 594808
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Lote              594809 non-null  object
 1   Data              594809 non-null  datetime64[ns]
 2   Local             594809 non-null  int64
 3   Numero Agrupado   594809 non-null  int64
 4   Faixa             594809 non-null  int64
 5   Entrefaixa        594809 non-null  int64
 6   Registro          594809 non-null  int64
 7   Tipo de Registro  594809 non-null  int64
 8   Veiculo           594809 non-null  object
 9   Final de Placa    594809 non-null  object
 10  Especie           594218 non-null  float64
 11  Classe            594218 non-null  float64
 12  Comprimento       594218 non-null  float64
 13  Velocidade        594218 non-null  float64
 14  Ocupacao          594218 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(3)
memory usage: 68.1+ MB

In [8]:
df_agregado = df_base.copy()

df_agregado.loc[:,'V1'] = df_agregado.loc[:,'Velocidade'].copy()
df_agregado.loc[:,'V2'] = df_agregado.loc[:,'Velocidade'].copy()
df_agregado.loc[:,'Oc1'] = df_agregado.loc[:,'Ocupacao'].copy()
df_agregado.loc[:,'Oc2'] = df_agregado.loc[:,'Ocupacao'].copy()



df_agregado = df_agregado.groupby(['Numero Agrupado',"Faixa",'Especie',pd.Grouper(key='Data', freq='4Min')]).agg(
                                                                        {"Registro": "count",
                                                                        'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Ocupacao':'mean',
                                                                        'Oc1':'median',
                                                                        'Oc2':'std',
                                                                        })
df_agregado.columns=[
            "Volume",
            'Vel_media',
            'Vel_mediana',
            'Vel_desvpad',
            'Ocu_media',
            'Ocu_mediana',
            'Ocu_desvpad'
            ] # Renomeia

df_agregado.reset_index(inplace=True)
df_agregado.head()

,Numero Agrupado,Faixa,Especie,Data,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,10433,1,0.0,2018-03-05 23:56:00,1,144.0,144.0,NaN,346.0,346.0,NaN
1,10433,1,0.0,2018-03-06 00:00:00,1,122.0,122.0,NaN,392.0,392.0,NaN
2,10433,1,0.0,2018-03-06 00:12:00,1,103.0,103.0,NaN,346.0,346.0,NaN
3,10433,1,0.0,2018-03-06 00:32:00,1,117.0,117.0,NaN,257.0,257.0,NaN
4,10433,1,0.0,2018-03-06 00:52:00,1,117.0,117.0,NaN,385.0,385.0,NaN

In [9]:
df_agregado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23291 entries, 0 to 23290
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Numero Agrupado  23291 non-null  int64
 1   Faixa            23291 non-null  int64
 2   Especie          23291 non-null  float64
 3   Data             23291 non-null  datetime64[ns]
 4   Volume           23291 non-null  int64
 5   Vel_media        23291 non-null  float64
 6   Vel_mediana      23291 non-null  float64
 7   Vel_desvpad      17700 non-null  float64
 8   Ocu_media        23291 non-null  float64
 9   Ocu_mediana      23291 non-null  float64
 10  Ocu_desvpad      17700 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(3)
memory usage: 2.0 MB

In [10]:
set(df_agregado["Numero Agrupado"])

{10433, 10482, 10488, 10500, 10531, 10557, 10595, 10761}

In [11]:
df_agregado.head(50)

,Numero Agrupado,Faixa,Especie,Data,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,10433,1,0.0,2018-03-05 23:56:00,1,144.000000,144.0,NaN,346.000000,346.0,NaN
1,10433,1,0.0,2018-03-06 00:00:00,1,122.000000,122.0,NaN,392.000000,392.0,NaN
2,10433,1,0.0,2018-03-06 00:12:00,1,103.000000,103.0,NaN,346.000000,346.0,NaN
3,10433,1,0.0,2018-03-06 00:32:00,1,117.000000,117.0,NaN,257.000000,257.0,NaN
4,10433,1,0.0,2018-03-06 00:52:00,1,117.000000,117.0,NaN,385.000000,385.0,NaN
5,10433,1,0.0,2018-03-06 01:08:00,1,139.000000,139.0,NaN,334.000000,334.0,NaN
6,10433,1,0.0,2018-03-06 01:28:00,1,136.000000,136.0,NaN,333.000000,333.0,NaN
7,10433,1,0.0,2018-03-06 02:04:00,1,117.000000,117.0,NaN,369.000000,369.0,NaN
8,10433,1,0.0,2018-03-06 03:08:00,1,131.000000,131.0,NaN,360.000000,360.0,NaN
9,10433,1,0.0,2018-03-06 03:44:00,1,106.000000,106.0,NaN,497.000000,497.0,NaN
10,10433,1,0.0,2018-03-06 04:16:00,1,119.000000,119.0,NaN,287.000000,287.0,NaN
11,10433,1,0.0,2018-03-06 04:32:00,1,114.000000,114.0,NaN,391.000000,391.0,NaN
12,10433,1,0.0,2018-03-06 04:56:00,1,119.000000,119.0,NaN,387.000000,387.0,NaN
13,10433,1,0.0,2018-03-06 05:04:00,1,119.000000,119.0,NaN,236.000000,236.0,NaN
14,10433,1,0.0,2018-03-06 05:08:00,2,112.500000,112.5,6.363961,413.000000,413.0,48.083261
15,10433,1,0.0,2018-03-06 05:16:00,1,125.000000,125.0,NaN,258.000000,258.0,NaN
16,10433,1,0.0,2018-03-06 05:24:00,1,114.000000,114.0,NaN,401.000000,401.0,NaN
17,10433,1,0.0,2018-03-06 05:28:00,1,131.000000,131.0,NaN,353.000000,353.0,NaN
18,10433,1,0.0,2018-03-06 05:32:00,1,139.000000,139.0,NaN,115.000000,115.0,NaN
19,10433,1,0.0,2018-03-06 05:40:00,3,120.333333,117.0,14.294521,310.000000,315.0,89.604687
20,10433,1,0.0,2018-03-06 05:48:00,2,122.000000,122.0,4.242641,345.000000,345.0,11.313708
21,10433,1,0.0,2018-03-06 05:52:00,2,120.500000,120.5,17.677670,378.500000,378.5,36.062446
22,10433,1,0.0,2018-03-06 05:56:00,2,146.000000,146.0,5.656854,260.000000,260.0,151.320851
23,10433,1,0.0,2018-03-06 06:00:00,1,144.000000,144.0,NaN,159.000000,159.0,NaN
24,10433,1,0.0,2018-03-06 06:04:00,3,118.666667,106.0,21.939310,348.666667,371.0,91.566005
25,10433,1,0.0,2018-03-06 06:24:00,1,97.000000,97.0,NaN,352.000000,352.0,NaN
26,10433,1,0.0,2018-03-06 06:28:00,3,124.666667,122.0,7.371115,211.000000,158.0,146.857073
27,10433,1,0.0,2018-03-06 06:36:00,2,106.500000,106.5,17.677670,394.000000,394.0,87.681241
28,10433,1,0.0,2018-03-06 06:40:00,4,131.750000,136.0,14.545904,389.500000,313.5,265.340662
29,10433,1,0.0,2018-03-06 06:44:00,3,120.333333,125.0,10.785793,333.333333,357.0,55.428633
30,10433,1,0.0,2018-03-06 06:48:00,2,135.000000,135.0,9.899495,349.000000,349.0,21.213203
31,10433,1,0.0,2018-03-06 06:52:00,8,123.500000,122.0,12.581165,364.625000,377.5,63.118794
32,10433,1,0.0,2018-03-06 06:56:00,8,122.250000,125.0,15.125664,325.125000,351.0,51.209479
33,10433,1,0.0,2018-03-06 07:00:00,16,126.187500,120.5,18.294694,312.250000,323.0,115.006377
34,10433,1,0.0,2018-03-06 07:04:00,10,120.000000,119.5,15.491933,385.000000,383.0,48.529487
35,10433,1,0.0,2018-03-06 07:08:00,10,118.600000,117.0,15.152558,362.500000,391.0,63.885749
36,10433,1,0.0,2018-03-06 07:12:00,20,125.100000,122.0,11.484085,384.400000,389.5,88.770194
37,10433,1,0.0,2018-03-06 07:16:00,24,121.625000,122.0,15.006701,357.416667,376.5,87.242250
38,10433,1,0.0,2018-03-06 07:20:00,12,120.916667,120.5,6.430868,338.833333,349.0,66.358302
39,10433,1,0.0,2018-03-06 07:24:00,12,128.666667,125.0,19.132710,340.250000,336.0,50.181715
40,10433,1,0.0,2018-03-06 07:28:00,14,117.500000,119.5,13.860569,362.857143,341.0,157.019282
41,10433,1,0.0,2018-03-06 07:32:00,21,128.857143,125.0,16.653185,363.095238,367.0,102.973251
42,10433,1,0.0,2018-03-06 07:36:00,31,123.548387,122.0,16.928947,557.258065,378.0,883.255756
43,10433,1,0.0,2018-03-06 07:40:00,17,121.705882,119.0,11.162239,375.823529,361.0,75.349382
44,10433,1,0.0,2018-03-06 07:44:00,24,125.625000,122.0,15.219588,338.541667,351.0,74.617855
45,10433,1,0.0,2018-03-06 07:48:00,17,126.235294,125.0,11.377222,325.294118,376.0,104.728079
46,10433,1,0.0,2018-03-06 07:52:00,31,122.064516,119.0,17.699219,472.774194,346.0,751.079743
47,10433,1,0.0,2018-03-06 07:56:00,20,119.800000,118.0,14.841620,376.500000,384.0,65.349667
48,10433,1,0.0,2018-03-06 08:00:00,17,127.294118,117.0,23.502034,381.823529,369.0,147.876737
49,10433,1,0.0,2018-03-06 08:04:00,18,122.055556,120.5,14.509519,618.555556,363.0,1090.467586

In [12]:
df_agregado.Data.dt.date[6] + timedelta(days=1)

datetime.date(2018, 3, 7)

In [13]:
list(set(df_agregado["Numero Agrupado"])), len(list(set(df_agregado["Numero Agrupado"])))

([10433, 10531, 10500, 10595, 10761, 10482, 10488, 10557], 8)

In [16]:
list(set(df_agregado["Especie"])), len(list(set(df_agregado["Especie"])))

([0.0, 1.0, 2.0, 3.0], 4)

In [22]:
list(set(df_agregado["Faixa"])), len(list(set(df_agregado["Faixa"])))

([1, 2, 3, 4, 5], 5)

In [23]:
print("como tem um dataframe para cada combinacao de radar/especia/faixa sao, no maximo, {} subsets no dataframe".format(8*5*4))

print("'no maximo' por que combinacoes que nao tem dados, por exemplo: um radar de uma rua nao a 5a faixa ")

como tem um dataframe para cada combinacao de radar/especia/faixa sao, no maximo, 160 subsets no dataframe
'no maximo' por que combinacoes que nao tem dados, por exemplo: um radar de uma rua nao a 5a faixa

### como tem um dataframe para cada combinacao de radar/especia/faixa sao, no maximo, 160 subsets no dataframe
### 'no maximo' por que combinacoes que nao tem dados, por exemplo: um radar de uma rua nao a 5a faixa

In [24]:
(24*60/4)

360.0

In [25]:
%%time

df_final = pd.DataFrame()


df_reduzido = df_agregado.copy()


for radar in list(set(df_agregado["Numero Agrupado"])):#[ 10761]


    for especie in list(set(df_reduzido["Especie"])):#[1.0]


        for faixa in list(set(df_reduzido["Faixa"])):#[1]
            # print(radar, especie, faixa)
            
            # faz um pequeno subset do df buscando criar uma configuração de radar, faixa e especie especifica
            radar_especifico = df_reduzido.loc[(df_reduzido["Numero Agrupado"] == radar)
                                            &   (df_reduzido["Especie"] == especie)
                                            &   (df_reduzido["Faixa"] == faixa)].sort_values(by="Data").reset_index(drop=True)




            df_aux = pd.DataFrame()

            ## Esse try existe para caso uma determinada combinacao de radar/especie/faixa 
            ## nao exista no df
            try:
                # Coleta as datas do dataframe para criar o novo datetime index
                dia_inicio = radar_especifico.Data.dt.date[1]
                dia_fim = radar_especifico.Data.dt.date[1] + timedelta(days=1)

                # cria o datetime index, com frequencia desejada
                index_data = pd.date_range(dia_inicio, dia_fim, freq="4 min", closed="left") 
                df_aux["Data"] = index_data

                # Faz o merge dos dataframes auxiliar com o do radar especifico, respeitando o datetime index (left)
                df_aux_1 = df_aux.merge(radar_especifico, on='Data', how="left")



                # o seguinte preenchimento deve ser feito apos as novas linhas de 4 minutos que
                # que nao tem registros serem adicionadas, e 
                # somente nas colunas selecionadas, que sao as que sabemos os parametros

                colunas_preenchiveis = ["Numero Agrupado","Faixa","Especie"]
                df_aux_1[colunas_preenchiveis] = df_aux_1[colunas_preenchiveis].fillna(method="ffill")
                df_aux_1[colunas_preenchiveis] = df_aux_1[colunas_preenchiveis].fillna(method="bfill")

                df_final = pd.concat([df_final, df_aux_1])
                df_final.reset_index(drop=True, inplace=True)

            except:
                pass


df_final

Wall time: 2.21 s

,Data,Numero Agrupado,Faixa,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,2018-03-06 00:00:00,10433.0,1.0,0.0,1.0,122.0,122.0,NaN,392.0,392.0,NaN
1,2018-03-06 00:04:00,10433.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-06 00:08:00,10433.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-06 00:12:00,10433.0,1.0,0.0,1.0,103.0,103.0,NaN,346.0,346.0,NaN
4,2018-03-06 00:16:00,10433.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44635,2018-03-06 23:40:00,10557.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44636,2018-03-06 23:44:00,10557.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44637,2018-03-06 23:48:00,10557.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44638,2018-03-06 23:52:00,10557.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44639,2018-03-06 23:56:00,10557.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_final.iloc[359:721]

,Data,Numero Agrupado,Faixa,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
359,2018-03-06 23:56:00,10433.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,2018-03-06 00:00:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,2018-03-06 00:04:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,2018-03-06 00:08:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,2018-03-06 00:12:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
716,2018-03-06 23:44:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,2018-03-06 23:48:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,2018-03-06 23:52:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,2018-03-06 23:56:00,10433.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
720,2018-03-06 00:00:00,10433.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_final.shape[0]/360

124.0

### Portanto, dos 160 subsets possiveis, somente 124 estao presentes

In [28]:
tercas = ["6","13","20","27"]
quartas = ["7","14","21","28"]
quintas = ["1","8","15","22","29"]

In [30]:
%%time


for i,DOW in enumerate([    ("tercas", tercas),
                            ("quartas", quartas),
                            ("quintas", quintas)     ]):
    # print(i, DOW)

    for day in DOW[1]:
        # print(day) ## day is a string
        start = timeit.timeit()

        # new_df = pd.read_csv("../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv", index_col="Unnamed: 0")
        print("reading into     " + "../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")

        # print("../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv")
        df = pd.read_csv("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")


        # print("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")
        # df_selected = df[df["Numero Agrupado"].isin(radares)].reset_index(drop=True)

        df["Data"] = pd.to_datetime(df["Data"],format='%Y-%m-%d %H:%M:%S', errors='coerce')


        df_base = df.copy()


        # limpa a ocupacao
        df_base.drop(df_base.loc[df_base['Ocupacao'] =='     ','Ocupacao'].index, inplace=True)
        df_base.Ocupacao = df_base.Ocupacao.astype(float)

        #dropa vazios
        df_base.drop(df_base.loc[df_base['Velocidade'] =='   ','Velocidade'].index, inplace=True)

        #dropa não válidos (nan)
        df_base.loc[:,'Velocidade'].dropna(inplace=True)

        #coloca tudo no mesmo formato de dado int
        df_base.loc[:,'Velocidade'] = pd.to_numeric(df_base.loc[:,'Velocidade'])

        # colocar faixa no formato int
        df_base.loc[:,'Faixa'] = pd.to_numeric(df_base.loc[:,'Faixa'])

        # colocar Especie no formato int
        df_base.loc[:,'Especie'] = pd.to_numeric(df_base.loc[:,'Especie'])

        ###### Numero Agrupado é uma int

        df_base.reset_index(drop=True,inplace=True)


        df_agregado = df_base.copy()

        df_agregado.loc[:,'V1'] = df_agregado.loc[:,'Velocidade'].copy()
        df_agregado.loc[:,'V2'] = df_agregado.loc[:,'Velocidade'].copy()
        df_agregado.loc[:,'Oc1'] = df_agregado.loc[:,'Ocupacao'].copy()
        df_agregado.loc[:,'Oc2'] = df_agregado.loc[:,'Ocupacao'].copy()



        df_agregado = df_agregado.groupby(['Numero Agrupado',"Faixa",'Especie',pd.Grouper(key='Data', freq='4Min')]).agg(
                                                                                {"Registro": "count",
                                                                                'Velocidade': 'mean',
                                                                                'V1':'median',
                                                                                'V2':'std',
                                                                                'Ocupacao':'mean',
                                                                                'Oc1':'median',
                                                                                'Oc2':'std',
                                                                                })
        df_agregado.columns=[
                    "Volume",
                    'Vel_media',
                    'Vel_mediana',
                    'Vel_desvpad',
                    'Ocu_media',
                    'Ocu_mediana',
                    'Ocu_desvpad'
                    ] # Renomeia

        df_agregado.reset_index(inplace=True)




        df_final = pd.DataFrame()


        df_reduzido = df_agregado.copy()


        for radar in list(set(df_reduzido["Numero Agrupado"])):#[ 10761]


            for especie in list(set(df_reduzido["Especie"])):#[1.0]


                for faixa in list(set(df_reduzido["Faixa"])):#[1]
                    # print(radar, especie, faixa)
                    
                    # faz um pequeno subset do df buscando criar uma configuração de radar, faixa e especie especifica
                    radar_especifico = df_reduzido.loc[(df_reduzido["Numero Agrupado"] == radar)
                                                    &   (df_reduzido["Especie"] == especie)
                                                    &   (df_reduzido["Faixa"] == faixa)].sort_values(by="Data").reset_index(drop=True)




                    df_aux = pd.DataFrame()

                    ## Esse try existe para caso uma determinada combinacao de radar/especie/faixa 
                    ## nao exista no df
                    try:
                        # Coleta as datas do dataframe para criar o novo datetime index
                        dia_inicio = radar_especifico.Data.dt.date[1]
                        dia_fim = radar_especifico.Data.dt.date[1] + timedelta(days=1)

                        # cria o datetime index, com frequencia desejada
                        index_data = pd.date_range(dia_inicio, dia_fim, freq="4 min", closed="left") 
                        df_aux["Data"] = index_data

                        # Faz o merge dos dataframes auxiliar com o do radar especifico, respeitando o datetime index (left)
                        df_aux_1 = df_aux.merge(radar_especifico, on='Data', how="left")



                        # o seguinte preenchimento deve ser feito apos as novas linhas de 4 minutos que
                        # que nao tem registros serem adicionadas, e 
                        # somente nas colunas selecionadas, que sao as que sabemos os parametros

                        colunas_preenchiveis = ["Numero Agrupado","Faixa","Especie"]
                        df_aux_1[colunas_preenchiveis] = df_aux_1[colunas_preenchiveis].fillna(method="ffill")
                        df_aux_1[colunas_preenchiveis] = df_aux_1[colunas_preenchiveis].fillna(method="bfill")

                        df_final = pd.concat([df_final, df_aux_1])
                        df_final.reset_index(drop=True, inplace=True)

                    except:
                        pass






        print()
        print("Saving to    " + "../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "-agrupado/" + day +"_agrupado.csv")

        df_final.to_csv("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "-agrupado/" + day +"_agrupado.csv")

        end = timeit.timeit()
        print(end - start)

        print()
        print()
        print()

reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/6_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas-agrupado/6_agrupado.csv
-0.0060570000005100155



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/13_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas-agrupado/13_agrupado.csv
-0.003229500000088592



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/20_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas-agrupado/20_agrupado.csv
0.017152599999462836



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/27_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas-agrupado/27_agrupado.csv
-0.004349599998022313



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/7_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas-agrupado/7_agrupado.csv
0.019119100001262268



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/14_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas-agrupado/14_agrupado.csv
0.019535699999323697



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/21_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas-agrupado/21_agrupado.csv
-0.016605700000582146



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/28_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas-agrupado/28_agrupado.csv
0.006593900001462316



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/1_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas-agrupado/1_agrupado.csv
-0.0017649000001256354



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/8_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas-agrupado/8_agrupado.csv
-0.0027870000012626406



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/15_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas-agrupado/15_agrupado.csv
0.021976600000925828



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/22_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas-agrupado/22_agrupado.csv
0.014039300000149524



reading into     ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/29_selecionado.csv

Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas-agrupado/29_agrupado.csv
0.0027329000004101545



Wall time: 1min 3s