In [ ]:
pd.set_option('display.max_columns', None)

df = pd.read_csv('csv_radares-20200426T211130Z-001\\01.csv')
#df = df.drop(columns = ["Lote","Faixa","Entrefaixa","Registro","Tipo de Registro","Comprimento","Ocupacao"])
df

In [ ]:
Radares = [5323,5226,5358,5357,5355,5356,5151,5205,5204,5313,5316,5315,5314,5476,5475,5474,5479,5478,5477,5480,5196,5195,5194,5197,5203,5202,5432,5354,5414,5413,5433,5098,5496,5129,5471,5470,5199,5198,5201,5200,5508,5507,5308,5307]
df_selec = pd.DataFrame()
for i in range(len(Radares)):
    dftemp = df.loc[df["Local"]==Radares[i]]
    df_selec = pd.concat([df_selec,dftemp])
df_selec["Local"].unique() == Radares

In [ ]:
df_selec['Ano']=df_selec['Ano'].astype(str)
df_selec['Mes']=df_selec['Mes'].astype(str)
df_selec['Dia']=df_selec['Dia'].astype(str)
df_selec['Hora']=df_selec['Hora'].astype(str)
df_selec['Minuto']=df_selec['Minuto'].astype(str)
df_selec['Segundo']=df_selec['Segundo'].astype(str)
print(df_selec.info())

# Tratando data e hora

In [ ]:
# selecionando uma amostra pra ficar mais rapido trabalhar no algoritimo
samp = df_selec.sample(frac=.05, random_state=42)
samp.info()
display(samp.head())

In [ ]:
samp['data']= samp['Dia'] + '/' + samp['Mes'] + '/' + samp['Ano'] + ' ' + samp['Hora'] + ':' + samp['Minuto'] + ':' + samp['Segundo'] 
samp.data = pd.to_datetime(samp.data)
samp.info()
display(samp.head())

Feito com a amostra, vamos replicar pro df_selecionado

In [ ]:
df_selec['data']= df_selec['Dia'] + '/' + df_selec['Mes'] + '/' + df_selec['Ano'] + ' ' + df_selec['Hora'] + ':' + df_selec['Minuto'] + ':' + df_selec['Segundo'] 
df_selec.data = pd.to_datetime(df_selec.data)

df_selec = df_selec.drop(columns = ['Dia', 'Mes',"Ano","Hora", 'Minuto','Segundo'])

df_selec.info()
display(df_selec.head())

In [ ]:
#mudando a ordem das colunas para data fica na frente
cols = df_selec.columns.tolist()
dat = cols[-1]
cols.remove('data')
cols.insert(1, dat)
df_selec = df_selec[cols]
df_selec.head()

In [ ]:
df_selec.reset_index(drop=True,inplace=True)

# organizando a iteração

se for dar Run All, cuidado com isso aqui que vai empacar
os selecionados tem so os radares de interesse

In [ ]:
nomes = ['01','05','08','12','15','19','22','26','29']
Radares = [5323,5226,5358,5357,5355,5356,5151,5205,5204,5313,5316,5315,5314,5476,5475,5474,5479,5478,5477,5480,5196,5195,5194,5197,5203,5202,5432,5354,5414,5413,5433,5098,5496,5129,5471,5470,5199,5198,5201,5200,5508,5507,5308,5307]
path = r'csv_radares-20200426T211130Z-001\\'

#para cada um dos arquivos
for name in nomes:
    #leio
    df = pd.read_csv(path + name + ".csv")
    
    #selecino os radares que desejo
    df_selec = pd.DataFrame()
    for i in range(len(Radares)):
        dftemp = df.loc[df["Local"]==Radares[i]]
        df_selec = pd.concat([df_selec,dftemp])
    # Temos o df com redares selecionados
    
    # Transformo as colunas em datetime
    # mudo o formato
    df_selec['Ano']=df_selec['Ano'].astype(str)
    df_selec['Mes']=df_selec['Mes'].astype(str)
    df_selec['Dia']=df_selec['Dia'].astype(str)
    df_selec['Hora']=df_selec['Hora'].astype(str)
    df_selec['Minuto']=df_selec['Minuto'].astype(str)
    df_selec['Segundo']=df_selec['Segundo'].astype(str)
    #concatena o conteudo das colunas
    df_selec['Data']= df_selec['Dia'] + '/' + df_selec['Mes'] + '/' + df_selec['Ano'] + ' ' + df_selec['Hora'] + ':' + df_selec['Minuto'] + ':' + df_selec['Segundo'] 
    #passa pra datetime
    df_selec.Data = pd.to_datetime(df_selec.Data)
    #dropa as velhas colunas de data e hora
    df_selec = df_selec.drop(columns = ['Dia', 'Mes',"Ano","Hora", 'Minuto','Segundo'])
    
    
    #mudando a ordem das colunas para data fica na frente
    cols = df_selec.columns.tolist()
    dat = cols[-1]
    cols.remove('Data')
    cols.insert(1, dat)
    df_selec = df_selec[cols]
    df_selec.head()

    #reset o index
    df_selec.reset_index(drop=True,inplace=True)

    #cria o novo arquivo
#    df_selec.to_csv('csv_radares-20200426T211130Z-001_selecionados\\' + name +'_selecionado.csv')

## Selecionando Horas
Fazendo pra um arquivo

In [26]:
path = r'csv_radares-20200426T211130Z-001_selecionados\\01_selecionado.csv'

df_new = pd.read_csv(path, index_col=0)

display(df_new.head())
df_new.Data=pd.to_datetime(df_new.Data)

D:\Users\guilh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao,Indice de Minutos
0,L3,2018-02-28 23:56:22,5323,3,0,1095514,0,1,0,048,136,00649,84956
1,L3,2018-02-28 23:56:32,5323,3,0,1095515,0,1,0,039,100,00772,84956
2,L3,2018-02-28 23:56:53,5323,3,0,1095516,0,1,0,043,119,00694,84956
3,L3,2018-02-28 23:56:55,5323,3,0,1095517,0,1,0,032,122,00599,84956
4,L3,2018-02-28 23:56:58,5323,3,0,1095518,0,1,0,041,128,00633,84956

aqui ocorre outra redução

de 854.596 vao para 96.160 registros (no arquivo de 1 de março)

In [27]:
df_new_s = df_new[(df_new.Data.dt.hour >=7) & (df_new.Data.dt.hour <9)]
df_new_s.reset_index(drop=True,inplace=True)
df_new_s.Data.dt.time

0        07:00:05
1        07:00:08
2        07:00:12
3        07:00:18
4        07:00:21
           ...
96155    08:58:58
96156    08:59:15
96157    08:59:35
96158    08:59:45
96159    08:59:57
Name: Data, Length: 96160, dtype: object

### Identificado um problema
tem entradas de velociade vazios, outras nao validos (nan) e também tipos misturados (string e inteiros), tem que ser retirados pra fazer o agrupamento

podemos ver que so saem 141 registros que tem problemas NA VELOCIDADE E PARA ESSE ARQUIVO, nao analisamos nas outros colunas

In [46]:
df_new_s.drop(df_new_s.loc[df_new_s['Velocidade'] =='   ','Velocidade'].index, inplace=True) #dropa vazios
df_new_s.loc[:,'Velocidade'].dropna(inplace=True) #dropa nan
df_new_s.loc[:,'Velocidade'] = pd.to_numeric(df_new_s.loc[:,'Velocidade']) #coloca tudo no mesmo formato de dado int
display(df_new_s.loc[:,'Velocidade'].unique())

D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

array([ 50,  58,  72,  64, 100,  97,  89, 103, 114, 108, 119, 128, 111,
       125, 133, 106, 136, 117,  53,  56,  61,  69,  81,  94, 122,  75,
        67, 131, 158,  92,  78, 169,  83,  86,  44,  47, 139, 142,  33,
       172,  36,  22,  28,  39,  42, 644, 135, 539, 194, 174,  25, 167,
       186,  19, 153, 144,  31, 386, 561, 250, 118, 110, 192, 200,  17,
        11,   8,  14, 161, 147,   6,   0, 189,   3, 150, 314, 225, 319,
       156, 178, 175, 253, 183, 239, 214, 203, 164, 222, 208, 219, 181,
       277, 211, 236, 206, 197, 353, 217, 264, 358, 228, 247, 231, 281,
       267, 511, 272, 244, 278, 233, 294, 242, 303, 269, 300, 261, 297,
       781, 900, 761, 742, 928, 308, 692, 342, 283, 289, 606, 123, 494,
       800, 258, 989, 425, 400, 198, 372, 275, 256, 381, 444, 550, 165,
       185, 325, 847, 825, 322, 411, 958, 431, 619, 583, 350, 464, 129,
       572, 392, 472, 661, 331, 631, 361, 306, 456, 212, 419, 333, 594,
       141, 270, 148, 803, 675, 406, 531], dtype=int64)

## Agrupando em 4 minutos

In [44]:
### velocidades vem em int64
df_new_s.loc[:,'V1'] = df_new_s.loc[:,'Velocidade'].copy() #criando copias da coluna de interesse pq 
df_new_s.loc[:,'V2'] = df_new_s.loc[:,'Velocidade'].copy() # quando se faz um agrupamento, ela se perde
display(df_new_s.head())
df_group = df_new_s.groupby([ 'Local',pd.Grouper(key='Data', freq='4Min')]).agg({'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Registro':'count'})
df_group.columns=['Vel_media',
                  'Vel_mediana',
                  'Vel_std',
                  'Volume'] # Renomeia
display(df_group)

D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao,Indice de Minutos,V1,V2
0,L3,2018-01-03 07:00:05,5323,3,0,2536,0,0,0,010,50,00487,85380,50,50
1,L3,2018-01-03 07:00:08,5323,3,0,2537,0,1,0,046,58,01422,85380,58,58
2,L3,2018-01-03 07:00:12,5323,3,0,2538,0,1,0,044,72,01121,85380,72,72
3,L3,2018-01-03 07:00:18,5323,3,0,2539,0,2,1,086,64,01998,85380,64,64
4,L3,2018-01-03 07:00:21,5323,3,0,2540,0,1,0,052,58,01630,85380,58,58

                            Vel_media  Vel_mediana    Vel_std  Volume
Local Data
5098  2018-01-03 07:00:00   91.613208         92.0  19.704759     106
      2018-01-03 07:04:00   89.987805         86.0  22.665302      82
      2018-01-03 07:08:00   85.220779         86.0  22.195082      77
      2018-01-03 07:12:00   94.113208         93.0  23.311277     106
      2018-01-03 07:16:00   98.168539         97.0  19.445867      89
...                               ...          ...        ...     ...
5508  2018-01-03 08:40:00  113.805556        114.0  12.459391     216
      2018-01-03 08:44:00  116.443925        114.0  12.995273     214
      2018-01-03 08:48:00  111.731132        114.0  15.122513     212
      2018-01-03 08:52:00  118.178161        119.0  11.996983     174
      2018-01-03 08:56:00  118.503067        119.0  12.268787     163

[1288 rows x 4 columns]

# Iterando e salvando
é selecionado pela mascara de horario 7 as 9h


esse agrupamento faz por Local/radar e de 4 em 4 min

In [48]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

nomes = ['01','05','08','12','15','19','22','26','29']
path = r'csv_radares-20200426T211130Z-001_selecionados\\'
path2 = r'csv_radares-20200426T211130Z-001_selecionados_agrupados\\'
#para cada um dos arquivos
for name in nomes:
    #leio
    df_new = pd.read_csv(path + name + "_selecionado" + ".csv")
    df_new.Data=pd.to_datetime(df_new.Data)
    
    df_new_s = df_new[(df_new.Data.dt.hour >=7) & (df_new.Data.dt.hour <9)]
    df_new_s.reset_index(drop=True,inplace=True)
    
    #dropa vazios
    df_new_s.drop(df_new_s.loc[df_new_s['Velocidade'] =='   ','Velocidade'].index, inplace=True)
    #dropa não válidos (nan)
    df_new_s.loc[:,'Velocidade'].dropna(inplace=True)
    #coloca tudo no mesmo formato de dado int
    df_new_s.loc[:,'Velocidade'] = pd.to_numeric(df_new_s.loc[:,'Velocidade'])
    
    ### velocidades vem em int64
    #criando copias da coluna de interesse pq
    #quando se faz um agrupamento, ela se perde
    df_new_s.loc[:,'V1'] = df_new_s.loc[:,'Velocidade'].copy()
    df_new_s.loc[:,'V2'] = df_new_s.loc[:,'Velocidade'].copy()
    

    df_group = df_new_s.groupby(['Local',pd.Grouper(key='Data', freq='4Min')]).agg({'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Registro':'count'})
    # Renomeia
    df_group.columns=['Vel_media',
                  'Vel_mediana',
                  'Vel_std',
                  'Volume'] 
    df_group.to_csv(path2 + name + "_agrupado"+".csv")

D:\Users\guilh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

## nova classificação por especie e por classe
## e nova frequencia de agrupamentos

Tipo ou espécie do veículo: moto = 0, passeio = 1, ônibus = 2 ou caminhão =3.
Classificação de tipo de veículo: leve = 0 ou pesado = 1.

In [17]:
import pandas as pd
import numpy as np
import os 

pd.set_option('display.max_columns', None)
nomes = ['01','05','08','12','15','19','22','26','29']
frequencias = ['1Min','2Min','3Min','4Min','5Min']
path = r'csv_radares-20200426T211130Z-001_selecionados\\'
path3 = r'csv_radares-20200426T211130Z-001_selec_group_n\\'

num_agrupado = [10488,10488,10652,10652,10667,10667,10672,10679,10679,10634,10632,10632,10634,10637,10637,10637,10644,10644,10644,10644,10748,10761,10761,10748,10680,10680,10556,10554,10557,10557,10556,10605,10616,10616,10619,10622,10595,10595,10594,10594,10476,10476,10509,10509]
Radares = [5323,5226,5358,5357,5355,5356,5151,5205,5204,5313,5316,5315,5314,5476,5475,5474,5479,5478,5477,5480,5196,5195,5194,5197,5203,5202,5432,5354,5414,5413,5433,5098,5496,5129,5471,5470,5199,5198,5201,5200,5508,5507,5308,5307]

# cria um dicionário
mapa = {}
for i in range(len(num_agrupado)):
    mapa[Radares[i]] = num_agrupado[i]


#para cada um dos arquivos
for name in nomes:
    #leio
    df_new = pd.read_csv(path + name + "_selecionado" + ".csv")
    df_new.Data=pd.to_datetime(df_new.Data)
    
    df_new_s = df_new[(df_new.Data.dt.hour >=7) & (df_new.Data.dt.hour <9)]
    df_new_s.reset_index(drop=True,inplace=True)
    
    #dropa vazios
    df_new_s.drop(df_new_s.loc[df_new_s['Velocidade'] =='   ','Velocidade'].index, inplace=True)
    #dropa não válidos (nan)
    df_new_s.loc[:,'Velocidade'].dropna(inplace=True)
    #coloca tudo no mesmo formato de dado int
    df_new_s.loc[:,'Velocidade'] = pd.to_numeric(df_new_s.loc[:,'Velocidade'])
    
    ### velocidades vem em int64
    #criando copias da coluna de interesse pq
    #quando se faz um agrupamento, ela se perde
    df_new_s.loc[:,'V1'] = df_new_s.loc[:,'Velocidade'].copy()
    df_new_s.loc[:,'V2'] = df_new_s.loc[:,'Velocidade'].copy()
    
    

    df_new_s['Número Agrupado'] = df_new_s['Local'].map(mapa)
    
    
    # faz uma pasta pra cada dia [01,05,08...]
    # e coloca 5 csv, um agrupado com uma frequência ['1Min','2Min','3Min','4Min','5Min']
    directory = name
    parent_dir = path3
    path4 = os.path.join(parent_dir, directory) 
    os.mkdir(path4) 
    
    for freq in frequencias:
        df_group = df_new_s.groupby(['Local','Número Agrupado','Especie','Classe', pd.Grouper(key='Data', freq=freq)]).agg({
                                                                            'Velocidade': 'mean',
                                                                            'V1':'median',
                                                                            'V2':'std',
                                                                            'Registro':'count'})
        # Renomeia
        df_group.columns=['Vel_media',
                      'Vel_mediana',
                      'Vel_std',
                      'Volume'] 

        df_group.to_csv(path4 + '\\' + name + "_group_"+ freq +".csv")

D:\Users\guilh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
D:\Users\guilh\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\Users\guilh\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### mera demonstração do conteúdo agrupado

In [18]:
import pandas as pd
path3 = r'csv_radares-20200426T211130Z-001_selec_group_n\\'
frequencias = ['1Min','2Min','3Min','4Min','5Min']

for freq in frequencias:
    
    a = pd.read_csv(path3 +'\\01\\' + "01_group_" + freq + ".csv")
    display(a)

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:03:00,123.5,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:05:00,108.0,108.0,19.798990,2
2,5098,10605,0,0,2018-01-03 07:07:00,136.0,136.0,NaN,1
3,5098,10605,0,0,2018-01-03 07:13:00,75.0,75.0,NaN,1
4,5098,10605,0,0,2018-01-03 07:14:00,119.5,119.5,3.535534,2
...,...,...,...,...,...,...,...,...,...
9091,5508,10476,3,1,2018-01-03 08:26:00,111.0,111.0,NaN,1
9092,5508,10476,3,1,2018-01-03 08:33:00,144.0,144.0,NaN,1
9093,5508,10476,3,1,2018-01-03 08:47:00,114.0,114.0,NaN,1
9094,5508,10476,3,1,2018-01-03 08:49:00,114.0,114.0,NaN,1
9095,5508,10476,3,1,2018-01-03 08:50:00,86.0,86.0,NaN,1

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:02:00,123.500000,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:04:00,108.000000,108.0,19.798990,2
2,5098,10605,0,0,2018-01-03 07:06:00,136.000000,136.0,NaN,1
3,5098,10605,0,0,2018-01-03 07:12:00,75.000000,75.0,NaN,1
4,5098,10605,0,0,2018-01-03 07:14:00,96.333333,117.0,40.203648,3
...,...,...,...,...,...,...,...,...,...
5724,5508,10476,3,1,2018-01-03 08:26:00,111.000000,111.0,NaN,1
5725,5508,10476,3,1,2018-01-03 08:32:00,144.000000,144.0,NaN,1
5726,5508,10476,3,1,2018-01-03 08:46:00,114.000000,114.0,NaN,1
5727,5508,10476,3,1,2018-01-03 08:48:00,114.000000,114.0,NaN,1
5728,5508,10476,3,1,2018-01-03 08:50:00,86.000000,86.0,NaN,1

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:03:00,115.750000,122.0,14.568802,4
1,5098,10605,0,0,2018-01-03 07:06:00,136.000000,136.0,NaN,1
2,5098,10605,0,0,2018-01-03 07:12:00,104.666667,117.0,25.813433,3
3,5098,10605,0,0,2018-01-03 07:15:00,53.000000,53.0,4.242641,2
4,5098,10605,0,0,2018-01-03 07:18:00,106.800000,117.0,24.478562,5
...,...,...,...,...,...,...,...,...,...
4175,5508,10476,3,1,2018-01-03 08:18:00,75.000000,75.0,NaN,1
4176,5508,10476,3,1,2018-01-03 08:24:00,107.000000,107.0,5.656854,2
4177,5508,10476,3,1,2018-01-03 08:33:00,144.000000,144.0,NaN,1
4178,5508,10476,3,1,2018-01-03 08:45:00,114.000000,114.0,NaN,1
4179,5508,10476,3,1,2018-01-03 08:48:00,100.000000,100.0,19.798990,2

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:00:00,123.500000,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:04:00,117.333333,122.0,21.385353,3
2,5098,10605,0,0,2018-01-03 07:12:00,91.000000,96.0,34.515697,4
3,5098,10605,0,0,2018-01-03 07:16:00,78.000000,78.0,31.112698,2
4,5098,10605,0,0,2018-01-03 07:20:00,109.600000,117.0,24.306378,5
...,...,...,...,...,...,...,...,...,...
3309,5508,10476,3,1,2018-01-03 08:16:00,75.000000,75.0,NaN,1
3310,5508,10476,3,1,2018-01-03 08:24:00,107.000000,107.0,5.656854,2
3311,5508,10476,3,1,2018-01-03 08:32:00,144.000000,144.0,NaN,1
3312,5508,10476,3,1,2018-01-03 08:44:00,114.000000,114.0,NaN,1
3313,5508,10476,3,1,2018-01-03 08:48:00,100.000000,100.0,19.798990,2

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:00:00,123.500000,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:05:00,117.333333,122.0,21.385353,3
2,5098,10605,0,0,2018-01-03 07:10:00,104.666667,117.0,25.813433,3
3,5098,10605,0,0,2018-01-03 07:15:00,68.666667,56.0,27.300794,3
4,5098,10605,0,0,2018-01-03 07:20:00,109.600000,117.0,24.306378,5
...,...,...,...,...,...,...,...,...,...
2768,5508,10476,3,1,2018-01-03 08:20:00,103.000000,103.0,NaN,1
2769,5508,10476,3,1,2018-01-03 08:25:00,111.000000,111.0,NaN,1
2770,5508,10476,3,1,2018-01-03 08:30:00,144.000000,144.0,NaN,1
2771,5508,10476,3,1,2018-01-03 08:45:00,114.000000,114.0,0.000000,2
2772,5508,10476,3,1,2018-01-03 08:50:00,86.000000,86.0,NaN,1

In [19]:
display(a.head(30))

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:00:00,123.500000,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:05:00,117.333333,122.0,21.385353,3
2,5098,10605,0,0,2018-01-03 07:10:00,104.666667,117.0,25.813433,3
3,5098,10605,0,0,2018-01-03 07:15:00,68.666667,56.0,27.300794,3
4,5098,10605,0,0,2018-01-03 07:20:00,109.600000,117.0,24.306378,5
5,5098,10605,0,0,2018-01-03 07:25:00,99.500000,110.0,42.968981,4
6,5098,10605,0,0,2018-01-03 07:30:00,50.000000,50.0,NaN,1
7,5098,10605,0,0,2018-01-03 07:35:00,99.500000,105.5,31.458968,4
8,5098,10605,0,0,2018-01-03 07:40:00,111.000000,111.0,20.083160,4
9,5098,10605,0,0,2018-01-03 07:45:00,121.333333,122.0,7.023769,3
10,5098,10605,0,0,2018-01-03 07:50:00,112.166667,125.0,31.377805,6
11,5098,10605,0,0,2018-01-03 07:55:00,92.500000,97.5,22.840023,4
12,5098,10605,0,0,2018-01-03 08:00:00,68.000000,68.0,21.213203,2
13,5098,10605,0,0,2018-01-03 08:05:00,77.000000,76.5,52.440442,4
14,5098,10605,0,0,2018-01-03 08:10:00,53.666667,58.0,15.947832,3
15,5098,10605,0,0,2018-01-03 08:15:00,77.142857,61.0,28.304467,7
16,5098,10605,0,0,2018-01-03 08:20:00,75.666667,100.0,59.366096,3
17,5098,10605,0,0,2018-01-03 08:25:00,82.000000,89.0,22.905603,4
18,5098,10605,0,0,2018-01-03 08:30:00,67.200000,61.0,27.123790,5
19,5098,10605,0,0,2018-01-03 08:35:00,123.750000,128.0,10.874282,4
20,5098,10605,0,0,2018-01-03 08:40:00,96.200000,106.0,38.938413,5
21,5098,10605,0,0,2018-01-03 08:45:00,113.600000,131.0,39.734116,5
22,5098,10605,0,0,2018-01-03 08:50:00,131.000000,131.0,NaN,1
23,5098,10605,0,0,2018-01-03 08:55:00,81.000000,81.0,NaN,1
24,5098,10605,1,0,2018-01-03 07:00:00,91.000000,92.0,19.381705,104
25,5098,10605,1,0,2018-01-03 07:05:00,87.201613,83.0,21.682101,124
26,5098,10605,1,0,2018-01-03 07:10:00,96.454545,95.5,22.631729,110
27,5098,10605,1,0,2018-01-03 07:15:00,93.048544,94.0,19.089767,103
28,5098,10605,1,0,2018-01-03 07:20:00,85.000000,83.0,16.784399,163
29,5098,10605,1,0,2018-01-03 07:25:00,89.430464,89.0,21.440619,151