# Importando Bibliotecas

In [47]:
import pandas as pd
import os
import timeit

# Checando os diretorios

In [1]:
print(os.getcwd())

print(os.listdir("../../Dados_CET/Marco_2018_nAg"))

# print(os.getcwd())

d:\Users\guilh\Documents\GitHub\Dados_CET2\Dados_CET2
['10_nAg.csv', '11_nAg.csv', '12_nAg.csv', '13_nAg.csv', '14_nAg.csv', '15_nAg.csv', '16_nAg.csv', '17_nAg.csv', '18_nAg.csv', '19_nAg.csv', '1_nAg.csv', '20_nAg.csv', '21_nAg.csv', '22_nAg.csv', '23_nAg.csv', '24_nAg.csv', '25_nAg.csv', '26_nAg.csv', '27_nAg.csv', '28_nAg.csv', '29_nAg.csv', '2_nAg.csv', '30_nAg.csv', '3_nAg.csv', '4_nAg.csv', '5_nAg.csv', '6_nAg.csv', '7_nAg.csv', '8_nAg.csv', '9_nAg.csv']

### Abre um arquivo para exemplo

tem mais de 1.7 milhoes de linhas

In [13]:
df = pd.read_csv('../../Dados_CET/Marco_2018_nAg/1_nAg.csv', index_col="Unnamed: 0")
df

D:\Users\guilh\Anaconda3\envs\CET-env\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Lote,Data,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-02-28 23:56:00,5415,10588,3,0,786545,0,1148679,3,1.0,0.0,30.0,100.0,682.0
1,L3,2018-02-28 23:56:00,5415,10588,3,0,786546,0,,,1.0,0.0,28.0,117.0,624.0
2,L3,2018-02-28 23:56:00,5415,10588,1,0,786547,0,679677,6,0.0,0.0,10.0,108.0,366.0
3,L3,2018-02-28 23:56:00,5415,10588,2,0,786548,0,,,0.0,0.0,10.0,3.0,424.0
4,L3,2018-02-28 23:56:00,5415,10588,3,0,786549,0,971847,3,1.0,0.0,31.0,106.0,647.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1745989,L3,2018-03-01 23:55:00,5401,10531,3,0,81604,0,,,1.0,0.0,190.0,150.0,1530.0
1745990,L3,2018-03-01 23:55:00,5401,10531,2,0,81605,0,159894,7,1.0,0.0,44.0,139.0,614.0
1745991,L3,2018-03-01 23:55:00,5401,10531,1,0,81606,0,377297,7,1.0,0.0,47.0,142.0,620.0
1745992,L3,2018-03-01 23:55:00,5401,10531,3,0,81607,0,808468,9,1.0,0.0,41.0,131.0,620.0
1745993,L3,2018-03-01 23:55:00,5401,10531,2,0,81608,0,1200341,6,1.0,0.0,40.0,136.0,598.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1745994 entries, 0 to 1745993
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   Lote              object
 1   Data              object
 2   Local             int64
 3   Numero Agrupado   int64
 4   Faixa             int64
 5   Entrefaixa        int64
 6   Registro          int64
 7   Tipo de Registro  int64
 8   Veiculo           object
 9   Final de Placa    object
 10  Especie           float64
 11  Classe            float64
 12  Comprimento       float64
 13  Velocidade        float64
 14  Ocupacao          float64
dtypes: float64(5), int64(6), object(4)
memory usage: 213.1+ MB

In [15]:
radares = [10761,10780,10595,10557,10488,10433,10482,10500,10531]

In [16]:
df_selected = df[df["Numero Agrupado"].isin(radares)].reset_index(drop=True)
df_selected

,Lote,Data,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-02-28 23:56:00,5323,10488,3,0,1095514,0,446515,4,1.0,0.0,48.0,136.0,649.0
1,L3,2018-02-28 23:56:00,5323,10488,3,0,1095515,0,,,1.0,0.0,39.0,100.0,772.0
2,L3,2018-02-28 23:56:00,5323,10488,3,0,1095516,0,679274,9,1.0,0.0,43.0,119.0,694.0
3,L3,2018-02-28 23:56:00,5323,10488,3,0,1095517,0,,,1.0,0.0,32.0,122.0,599.0
4,L3,2018-02-28 23:56:00,5323,10488,3,0,1095518,0,1023768,0,1.0,0.0,41.0,128.0,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593592,L3,2018-03-01 23:55:00,5401,10531,3,0,81604,0,,,1.0,0.0,190.0,150.0,1530.0
593593,L3,2018-03-01 23:55:00,5401,10531,2,0,81605,0,159894,7,1.0,0.0,44.0,139.0,614.0
593594,L3,2018-03-01 23:55:00,5401,10531,1,0,81606,0,377297,7,1.0,0.0,47.0,142.0,620.0
593595,L3,2018-03-01 23:55:00,5401,10531,3,0,81607,0,808468,9,1.0,0.0,41.0,131.0,620.0
593596,L3,2018-03-01 23:55:00,5401,10531,2,0,81608,0,1200341,6,1.0,0.0,40.0,136.0,598.0

In [51]:
set(df_selected["Numero Agrupado"])

{10433, 10482, 10488, 10500, 10531, 10557, 10595, 10761}

In [32]:
tercas = ["6","13","20","27"]
quartas = ["7","14","21","28"]
quintas = ["1","8","15","22","29"]

In [ ]:
# df_selected.to_csv("../../Dados_CET/tercas-quartas-quintas-selecionados/"))

In [48]:
%%time

radares = [10761,10780,10595,10557,10488,10433,10482,10500,10531]


for i,DOW in enumerate([    ("tercas", tercas),
                            ("quartas", quartas),
                            ("quintas", quintas)     ]):
    # print(i, DOW)

    for day in DOW[1]:
        # print(day) ## day is a string
        start = timeit.timeit()

        # new_df = pd.read_csv("../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv", index_col="Unnamed: 0")
        print("reading into     " + "../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv")

        # print("../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv")
        df = pd.read_csv("../../Dados_CET/Marco_2018_nAg/"+ day +"_nAg.csv", index_col="Unnamed: 0")


        # print("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")
        df_selected = df[df["Numero Agrupado"].isin(radares)].reset_index(drop=True)

        print("Saving to    " + "../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")

        # df_selected.to_csv("../../Dados_CET/tercas-quartas-quintas-selecionados/"+ DOW[0] + "/" + day +"_selecionado.csv")

        end = timeit.timeit()
        print(end - start)


        print()
        print()
        print()

reading into     ../../Dados_CET/Marco_2018_nAg/6_nAg.csv
D:\Users\guilh\Anaconda3\envs\CET-env\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/6_selecionado.csv
-0.006337799999982963



reading into     ../../Dados_CET/Marco_2018_nAg/13_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/13_selecionado.csv
-0.0028725000001941225



reading into     ../../Dados_CET/Marco_2018_nAg/20_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/20_selecionado.csv
-0.0038267999998424784



reading into     ../../Dados_CET/Marco_2018_nAg/27_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/tercas/27_selecionado.csv
0.0008551000000807107



reading into     ../../Dados_CET/Marco_2018_nAg/7_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/7_selecionado.csv
0.0009843000002547342



reading into     ../../Dados_CET/Marco_2018_nAg/14_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/14_selecionado.csv
0.002474299999903451



reading into     ../../Dados_CET/Marco_2018_nAg/21_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/21_selecionado.csv
0.005250499999874592



reading into     ../../Dados_CET/Marco_2018_nAg/28_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quartas/28_selecionado.csv
-0.0003365999996276514



reading into     ../../Dados_CET/Marco_2018_nAg/1_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/1_selecionado.csv
0.013435099999696831



reading into     ../../Dados_CET/Marco_2018_nAg/8_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/8_selecionado.csv
0.0012694000001829409



reading into     ../../Dados_CET/Marco_2018_nAg/15_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/15_selecionado.csv
0.006397100000413047



reading into     ../../Dados_CET/Marco_2018_nAg/22_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/22_selecionado.csv
0.0014957999997022853



reading into     ../../Dados_CET/Marco_2018_nAg/29_nAg.csv
Saving to    ../../Dados_CET/tercas-quartas-quintas-selecionados/quintas/29_selecionado.csv
8.70000003487803e-05



Wall time: 1min 53s