# 1 - Agrupamento

Essa primeira parte agrupa os dados e adiciona o "Numero Agrupado"

se for usar um arquivo que já foi agrupado, pode ir pra parte 2

In [24]:
import pandas as pd
import numpy as np


num_agrupado = ["10588","10613","10613","10619","10622","10632","10632","10634","10634","10652","10652","10667","10667","10516","10528","10528","10554","10605","10637","10637","10637","10644","10644","10644","10644","10488","10488","10509","10509","10556","10556","10557","10557","10594","10594","10595","10595","10679","10679","10680","10680","10748","10748","10761","10761","10426","10426","10426","10433","10433","10433","10433","10482","10482","10482","10482","10484","10484","10484","10492","10492","10500","10507","10521","10527","10527","10531","10531"]

Radares = [5415,5483,5126,5471,5470,5316,5315,5313,5314,5358,5357,5355,5356,5463,5297,5296,5354,5098,5476,5475,5474,5479,5478,5477,5480,5323,5226,5308,5307,5432,5433,5414,5413,5201,5200,5199,5198,5205,5204,5203,5202,5196,5197,5195,5194,5445,5104,5446,5103,5462,5461,5460,5441,5106,5443,5442,5439,5105,5440,5457,5449,5317,5101,5506,5336,5335,5402,5401]


# vamos guardar esses radares aqui pois sao o set, os valores unicos
# 5323,5226,5358,5357,5355,5356,5151,5205,5204,5313,5316,5315,5314,5476,5475,5474,5479,5478,5477,5480,5196,5195,5194,5197,5203,5202,5432,5354,5414,5413,5433,5098,5496,5129,5471,5470,5199,5198,5201,5200,5508,5507,5308,5307]

# [10488,10488,10652,10652,10667,10667,10672,10679,10679,10634,10632,10632,10634,10637,10637,10637,10644,10644,10644,10644,10748,10761,10761,10748,10680,10680,10556,10554,10557,10557,10556,10605,10616,10616,10619,10622,10595,10595,10594,10594,10476,10476,10509,10509]


# cria um dicionário
mapa = {}
for i in range(len(num_agrupado)):
    mapa[Radares[i]] = num_agrupado[i]



tip_faixa = ["mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","mista","mista","mista","mista","onibus","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","onibus","mista","mista","mista","mista","mista","onibus","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","mista","onibus","mista","mista","mista","onibus","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista","onibus","mista","mista"]

num_faixa = ["104261","104262","104263","104264","104331","104332","104333","104334","104335","104821","104822","104823","104824","104825","104841","104842","104843","104844","104845","104881","104882","104883","104884","104921","104922","104923","105001","105002","105003","105071","105072","105091","105092","105093","105094","105161","105162","105163","105164","105211","105212","105213","105281","105282","105283","105284","105311","105312","105313","105314","105541","105542","105543","105561","105562","105563","105564","105571","105572","105573","105574","105881","105882","105883","105884","105941","105942","105943","105951","105952","105953","106051","106052","106053","106131","106132","106133","106134","106135","106191","106192","106193","106221","106222","106223","106321","106322","106323","106341","106342","106343","106371","106372","106373","106374","106375","106376","106441","106442","106443","106444","106445","106446","106521","106522","106523","106524","106671","106672","106673","106674","106791","106792","106793","106801","106802","106803","107481","107482","107483","107611","107612","107613"]

mapfaixas = {}
for i in range(len(tip_faixa)):
    mapfaixas[num_faixa[i]] = tip_faixa[i]

In [25]:
pd.set_option('display.max_columns', None)

PATH = r'D:\Users\guilh\Documents\GitHub\Dados_CET\csv_radares-20200426T211130Z-001_selecionados/'
a = pd.read_csv(PATH +"01_selecionado.csv", index_col=["Unnamed: 0"]) #essa index_col pode variar dependendo do arquivo
a.head()

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao,Indice de Minutos
0,L3,2018-02-28 23:56:22,5323,3,0,1095514,0,1,0,048,136,00649,84956
1,L3,2018-02-28 23:56:32,5323,3,0,1095515,0,1,0,039,100,00772,84956
2,L3,2018-02-28 23:56:53,5323,3,0,1095516,0,1,0,043,119,00694,84956
3,L3,2018-02-28 23:56:55,5323,3,0,1095517,0,1,0,032,122,00599,84956
4,L3,2018-02-28 23:56:58,5323,3,0,1095518,0,1,0,041,128,00633,84956

## Limpeza e preparação dos dados

aqui tiramos os NA, vazios e  reorganizammos as ordens das colunas

In [26]:
# verificação
# antes temos um x registros no (radar, faixa) = (5479,3)
# e y registros (radar, faixa) = (5478,_) sendo _ qualquer faixa


display(a.loc[(a["Local"]==5479) & (a["Faixa"] == 3), ["Local", "Faixa"]])
display(a.loc[(a["Local"]==5478), ["Local", "Faixa"]])
# mas lembrando que ainda tiramos os nan

        Local  Faixa
267129   5479      3
267158   5479      3
267162   5479      3
267165   5479      3
267166   5479      3
...       ...    ...
276663   5479      3
276671   5479      3
276673   5479      3
276674   5479      3
276682   5479      3

[1696 rows x 2 columns]

        Local  Faixa
276684   5478      2
276685   5478      2
276686   5478      2
276687   5478      2
276688   5478      2
...       ...    ...
293318   5478      3
293319   5478      2
293320   5478      3
293321   5478      3
293322   5478      2

[16639 rows x 2 columns]

In [27]:

# Adiciona a coluna de numero agrupado

a['Numero Agrupado'] = a['Local'].map(mapa)


a.Data=pd.to_datetime(a.Data) #coloca a data no formato certo

# Cria a coluna com dia da semana IMPORTANTE segunda = 0
a["dia_sem"] = a.Data.dt.dayofweek 

#dropa vazios
a.drop(a.loc[a['Ocupacao'] =='     ','Ocupacao'].index, inplace=True)
a.Ocupacao = a.Ocupacao.astype(int)
#dropa vazios
a.drop(a.loc[a['Velocidade'] =='   ','Velocidade'].index, inplace=True)
#dropa não válidos (nan)
a.loc[:,'Velocidade'].dropna(inplace=True)
#coloca tudo no mesmo formato de dado int
a.loc[:,'Velocidade'] = pd.to_numeric(a.loc[:,'Velocidade'])
a.reset_index(drop=True,inplace=True)

########## UPDATE ###########
# transforma todos radares 5479 na faixa 3, (5479,3) em radares 5478 na faixa 3 (5478,3)
# pode ficar tranquilo por que eles tem o mesmo numero agrupado
a.loc[(a["Local"]==5479) & (a["Faixa"] == 3), "Local"] = 5478


a.reset_index(drop=True,inplace=True)

# Reorganiza a ordem das colunas
a = a[['Lote', 'Data', "dia_sem", 'Local', 'Numero Agrupado', 'Faixa', 'Entrefaixa',
       'Registro', 'Tipo de Registro', 'Especie',
      'Classe', 'Comprimento', 'Velocidade', 'Ocupacao']]
a.head()

,Lote,Data,dia_sem,Local,Numero Agrupado,Faixa,Entrefaixa,Registro,Tipo de Registro,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-02-28 23:56:22,2,5323,10488,3,0,1095514,0,1,0,048,136,649
1,L3,2018-02-28 23:56:32,2,5323,10488,3,0,1095515,0,1,0,039,100,772
2,L3,2018-02-28 23:56:53,2,5323,10488,3,0,1095516,0,1,0,043,119,694
3,L3,2018-02-28 23:56:55,2,5323,10488,3,0,1095517,0,1,0,032,122,599
4,L3,2018-02-28 23:56:58,2,5323,10488,3,0,1095518,0,1,0,041,128,633

Abaixo ocorrem as manipulações pros agrupamentos

In [28]:
## verificao 
# nao devem mais haver (5479,3)
# e assim x deve ser adicionado a y

display(a.loc[(a["Local"]==5479) & (a["Faixa"] == 3), ["Local", "Faixa"]])

Empty DataFrame
Columns: [Local, Faixa]
Index: []

In [29]:
# como o agrupamento usa uma coluna pra agrupar, temos que opiar a coluna pra reutilizar

a.loc[:,'V1'] = a.loc[:,'Velocidade'].copy()
a.loc[:,'V2'] = a.loc[:,'Velocidade'].copy()
a.loc[:,'Oc1'] = a.loc[:,'Ocupacao'].copy()
a.loc[:,'Oc2'] = a.loc[:,'Ocupacao'].copy()

# aqui rolam os agrupamentos por Numero agrupado e Especia
a = a.groupby([ 'Numero Agrupado',"Faixa",'Especie',pd.Grouper(key='Data', freq='5Min')]).agg({'dia_sem': "mean",
                                                                        "Registro": "count",
                                                                        'Velocidade': 'mean',
                                                                        'V1':'median',
                                                                        'V2':'std',
                                                                        'Ocupacao':'mean',
                                                                        'Oc1':'median',
                                                                        'Oc2':'std',
                                                                        })
a.columns=['dia_sem',
            "Volume",
            'Vel_media',
            'Vel_mediana',
            'Vel_desvpad',
            'Ocu_media',
            'Ocu_mediana',
            'Ocu_desvpad',
            ] # Renomeia

# 2 Formando a nova tabela

In [30]:
a.reset_index(inplace=True)
c = a
c

,Numero Agrupado,Faixa,Especie,Data,dia_sem,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,10488,1,0,2018-01-03 08:20:00,2,1,83.0,83.0,NaN,643.0,643.0,NaN
1,10488,1,0,2018-01-03 08:35:00,2,1,19.0,19.0,NaN,2314.0,2314.0,NaN
2,10488,1,0,2018-01-03 09:25:00,2,1,94.0,94.0,NaN,378.0,378.0,NaN
3,10488,1,0,2018-01-03 10:10:00,2,1,86.0,86.0,NaN,526.0,526.0,NaN
4,10488,1,0,2018-01-03 10:25:00,2,2,286.0,286.0,318.198052,412.5,412.5,482.953932
...,...,...,...,...,...,...,...,...,...,...,...,...
42258,10761,3,3,2018-01-03 23:05:00,2,1,111.0,111.0,NaN,1201.0,1201.0,NaN
42259,10761,3,3,2018-01-03 23:15:00,2,1,100.0,100.0,NaN,884.0,884.0,NaN
42260,10761,3,3,2018-01-03 23:25:00,2,1,100.0,100.0,NaN,894.0,894.0,NaN
42261,10761,3,3,2018-01-03 23:30:00,2,1,117.0,117.0,NaN,1052.0,1052.0,NaN
42262,10761,3,3,2018-01-03 23:35:00,2,1,92.0,92.0,NaN,1352.0,1352.0,NaN

In [31]:
c["Periodo"] = "y"
labels = np.array(["P1","P2","P3","P4","P5","P6","P7"])
intervalos = pd.IntervalIndex.from_tuples([(0,5),(5,7),(7,10),(10,14),(14,17),(17,20),(20,24)], closed="left")

c['aux'] = pd.cut(np.array(c.Data.dt.hour), intervalos)


intervalos = pd.IntervalIndex.from_tuples([(0,5),(5,7),(7,10),(10,14),(14,17),(17,20),(20,24)])
# inter = ["(0.0, 5.0]","(5.0, 7.0]","(7.0, 10.0]","(10.0, 14.0]","(14.0, 17.0]","(17.0, 20.0]","(20.0, 24.0]"]


sentidos = ["Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Sumare_N","Sumare_S","Sumare_S","Sumare_S","Sumare_S","Sumare_N","Sumare_N","Brasil_N","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_S","Brasil_N","Brasil_N","Brasil_N","Brasil_N","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","Reboucas_B","Reboucas_B","Reboucas_C","Reboucas_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_B","23deMaio_C","23deMaio_C"]



inter = ["[0, 5)","[5, 7)","[7, 10)","[10, 14)","[14, 17)","[17, 20)","[20, 24)"]
# "P1","P2","P3","P4","P5","P6","P7"

mapb = {}
for i in range(len(labels)):
    mapb[inter[i]] = labels[i]


try:
    c['aux'] = c['aux'].astype(str)
    c['Periodo'] = c['aux'].map(mapb)
    c.drop(columns=["aux"],inplace=True, axis = 0)
except:
    pass

c["NumAg_fx"] = c["Numero Agrupado"].astype(str) + c['Faixa'].astype(str)


mapc = {}
for i in range(len(num_agrupado)):
    mapc[num_agrupado[i]] = sentidos[i]

c["Eixo"] = c["Numero Agrupado"].map(mapc)

c["Fx_tipo"] = c["NumAg_fx"].map(mapfaixas)


# display(c[["Numero Agrupado", "Data", "Especie", "Periodo"]])

c =c[["Data", "dia_sem", "Periodo", "Numero Agrupado", "Faixa", "NumAg_fx","Fx_tipo","Eixo","Especie","Volume", "Vel_media", "Vel_mediana", "Vel_desvpad", "Ocu_media", "Ocu_mediana", "Ocu_desvpad"]] 
display(c.head())

,Data,dia_sem,Periodo,Numero Agrupado,Faixa,NumAg_fx,Fx_tipo,Eixo,Especie,Volume,Vel_media,Vel_mediana,Vel_desvpad,Ocu_media,Ocu_mediana,Ocu_desvpad
0,2018-01-03 08:20:00,2,P3,10488,1,104881,onibus,Reboucas_C,0,1,83.0,83.0,NaN,643.0,643.0,NaN
1,2018-01-03 08:35:00,2,P3,10488,1,104881,onibus,Reboucas_C,0,1,19.0,19.0,NaN,2314.0,2314.0,NaN
2,2018-01-03 09:25:00,2,P3,10488,1,104881,onibus,Reboucas_C,0,1,94.0,94.0,NaN,378.0,378.0,NaN
3,2018-01-03 10:10:00,2,P4,10488,1,104881,onibus,Reboucas_C,0,1,86.0,86.0,NaN,526.0,526.0,NaN
4,2018-01-03 10:25:00,2,P4,10488,1,104881,onibus,Reboucas_C,0,2,286.0,286.0,318.198052,412.5,412.5,482.953932