In [80]:
import numpy as np
import pandas as pd

rad_Rebou = [5323,5226,5308,5307,5432,5433,5414,5413,5201,5200,5199,5198,5205,5204,5203,5202,5196,5197,5195,5194]
rad_23 = [5445,5104,5446,5103,5462,5461,5460,5441,5106,5443,5442,5439,5105,5440,5457,5449,5317,5101,5506,5336,5335,5402,5401]
rad_Sum_Brasil = [5415,5483,5126,5471,5470,5316,5315,5313,5314,5358,5357,5355,5356,5463,5297,5296,5354,5098,5476,5475,5474,5479,5478,5477,5480]

### ------------ ESCOLHER AQUI ---------------------------- ###


Limite_inf_inclusive = 7
Limite_sup = 9
radares = rad_23

In [81]:
path = r'GitHub\Dados_CET\csv_radares-20200426T211130Z-001'

df = pd.read_csv(r'D:\\Users\\guilh\\Documents\\GitHub\\Dados_CET\\csv_radares-20200426T211130Z-001\\28_selec.csv', index_col=0) 
df['Data'] = pd.to_datetime(df['Data'])
display(df)

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-03-27 23:56:00,5415,1,0,801971,0,434499,9,1.0,0.0,39.0,47.0,1506.0
1,L3,2018-03-27 23:56:00,5415,4,0,801972,0,,,1.0,0.0,45.0,67.0,1233.0
2,L3,2018-03-27 23:56:00,5415,3,0,801973,0,,,1.0,0.0,42.0,50.0,1587.0
3,L3,2018-03-27 23:56:00,5415,3,0,801974,0,,,1.0,0.0,34.0,61.0,1185.0
4,L3,2018-03-27 23:56:00,5415,2,0,801975,0,187540,6,1.0,0.0,45.0,53.0,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565012,L3,2018-03-28 23:55:00,5401,3,0,2260073,0,643468,1,1.0,0.0,44.0,142.0,590.0
1565013,L3,2018-03-28 23:55:00,5401,2,0,2260074,0,1183299,6,3.0,1.0,59.0,153.0,659.0
1565014,L3,2018-03-28 23:55:00,5401,1,0,2260075,0,1034429,2,1.0,0.0,43.0,153.0,553.0
1565015,L3,2018-03-28 23:55:00,5401,2,0,2260076,0,,,1.0,0.0,40.0,94.0,847.0
1565016,L3,2018-03-28 23:55:00,5401,3,0,2260077,0,333283,1,1.0,0.0,39.0,119.0,667.0

In [82]:
df_n = df[(df.Data.dt.hour >=Limite_inf_inclusive) & (df.Data.dt.hour <Limite_sup)]
df_n.reset_index(drop=True,inplace=True)

In [83]:
data_frame = pd.DataFrame()
for loc in radares:
    data_frame = pd.concat([data_frame,df_n.loc[df_n["Local"]== loc]])

In [84]:
display(data_frame)

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
109809,L3,2018-03-28 07:00:00,5445,3,1,120959,0,,,1.0,0.0,30.0,61.0,427.0
109810,L3,2018-03-28 07:01:00,5445,3,1,120960,0,646816,0,0.0,0.0,20.0,86.0,287.0
109811,L3,2018-03-28 07:01:00,5445,3,1,120961,0,,,1.0,0.0,10.0,44.0,213.0
109812,L3,2018-03-28 07:01:00,5445,3,1,120962,0,651594,1,1.0,0.0,40.0,36.0,1001.0
109813,L3,2018-03-28 07:02:00,5445,3,1,120963,0,,,1.0,0.0,40.0,92.0,430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209315,L3,2018-03-28 08:59:00,5401,2,0,2203374,0,,,1.0,0.0,43.0,89.0,959.0
209316,L3,2018-03-28 08:59:00,5401,3,0,2203373,0,1060355,3,1.0,0.0,44.0,78.0,1028.0
209317,L3,2018-03-28 08:59:00,5401,3,0,2203375,0,746107,4,1.0,0.0,38.0,69.0,1114.0
209318,L3,2018-03-28 08:59:00,5401,1,0,2203376,0,1189843,8,1.0,0.0,48.0,100.0,907.0
209319,L3,2018-03-28 08:59:00,5401,2,0,2203377,0,647825,0,1.0,0.0,48.0,94.0,949.0