In [20]:
import numpy as np
import pandas as pd

rad_Rebou = [5323,5226,5308,5307,5432,5433,5414,5413,5201,5200,5199,5198,5205,5204,5203,5202,5196,5197,5195,5194]
rad_23 = [5445,5104,5446,5103,5462,5461,5460,5441,5106,5443,5442,5439,5105,5440,5457,5449,5317,5101,5506,5336,5335,5402,5401]
rad_Sum_Brasil = [5415,5483,5126,5471,5470,5316,5315,5313,5314,5358,5357,5355,5356,5463,5297,5296,5354,5098,5476,5475,5474,5479,5478,5477,5480]

### ------------ ESCOLHER AQUI ---------------------------- ###


Limite_inf_inclusive = 7   # não seleciona por minutos, por ex: 7:30 não funciona, só 7 e 8
Limite_sup = 9
radares = rad_23

In [21]:

df = pd.read_csv(r'D:\\Users\\guilh\\Documents\\GitHub\\Dados_CET\\csv_radares-20200426T211130Z-001\\28_selec.csv', index_col=0) 
df['Data'] = pd.to_datetime(df['Data'])
display(df.head())

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
0,L3,2018-03-27 23:56:00,5415,1,0,801971,0,434499,9,1.0,0.0,39.0,47.0,1506.0
1,L3,2018-03-27 23:56:00,5415,4,0,801972,0,,,1.0,0.0,45.0,67.0,1233.0
2,L3,2018-03-27 23:56:00,5415,3,0,801973,0,,,1.0,0.0,42.0,50.0,1587.0
3,L3,2018-03-27 23:56:00,5415,3,0,801974,0,,,1.0,0.0,34.0,61.0,1185.0
4,L3,2018-03-27 23:56:00,5415,2,0,801975,0,187540,6,1.0,0.0,45.0,53.0,1500.0

In [22]:
df_n = df[(df.Data.dt.hour >= ) & (df.Data.dt.hour <Limite_sup)]
df_n.reset_index(drop=True,inplace=True)

In [23]:
data_frame = pd.DataFrame()
for loc in radares:
    data_frame = pd.concat([data_frame,df_n.loc[df_n["Local"]== loc]])

In [24]:
display(data_frame)

,Lote,Data,Local,Faixa,Entrefaixa,Registro,Tipo de Registro,Veiculo,Final de Placa,Especie,Classe,Comprimento,Velocidade,Ocupacao
109445,L3,2018-03-28 08:00:00,5445,3,1,121194,0,154134,0,0.0,0.0,40.0,111.0,343.0
109446,L3,2018-03-28 08:00:00,5445,3,1,121195,0,,,1.0,0.0,60.0,56.0,1167.0
109447,L3,2018-03-28 08:00:00,5445,3,1,121196,0,,,1.0,0.0,20.0,56.0,319.0
109448,L3,2018-03-28 08:00:00,5445,3,1,121197,0,758778,4,0.0,0.0,50.0,75.0,608.0
109449,L3,2018-03-28 08:01:00,5445,3,1,121198,0,,,1.0,0.0,50.0,167.0,324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201999,L3,2018-03-28 09:59:00,5401,1,0,2206771,0,507875,0,1.0,0.0,40.0,36.0,3753.0
202000,L3,2018-03-28 09:59:00,5401,3,0,2206770,0,203512,0,1.0,0.0,37.0,31.0,2398.0
202001,L3,2018-03-28 09:59:00,5401,2,0,2206772,0,264524,1,1.0,0.0,82.0,22.0,6299.0
202002,L3,2018-03-28 09:59:00,5401,2,0,2206773,0,444373,7,1.0,0.0,42.0,19.0,4431.0
202003,L3,2018-03-28 09:59:00,5401,3,0,2206774,0,884248,8,1.0,0.0,47.0,36.0,3403.0