In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Funciona para qualquer agrupamento seja 1Min, 2Min, 4Min, 5Min, 10Min....

#---------------------------- variaveis para mudar -------------------------------------------#

path3 = r'csv_radares-20200426T211130Z-001_selec_group_n\\' ## mudar aqui o caminho e nome do arquivo
variavel = 'Vel_media' #podem ser "Vel_media", "Vel_mediana", "Volume"

#-----------------------------------------------------------------------#

a = pd.read_csv(path3 +'\\01\\' + "01_group_" + "1Min" + ".csv")
display(a)

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume
0,5098,10605,0,0,2018-01-03 07:03:00,123.5,123.5,2.121320,2
1,5098,10605,0,0,2018-01-03 07:05:00,108.0,108.0,19.798990,2
2,5098,10605,0,0,2018-01-03 07:07:00,136.0,136.0,NaN,1
3,5098,10605,0,0,2018-01-03 07:13:00,75.0,75.0,NaN,1
4,5098,10605,0,0,2018-01-03 07:14:00,119.5,119.5,3.535534,2
...,...,...,...,...,...,...,...,...,...
9091,5508,10476,3,1,2018-01-03 08:26:00,111.0,111.0,NaN,1
9092,5508,10476,3,1,2018-01-03 08:33:00,144.0,144.0,NaN,1
9093,5508,10476,3,1,2018-01-03 08:47:00,114.0,114.0,NaN,1
9094,5508,10476,3,1,2018-01-03 08:49:00,114.0,114.0,NaN,1
9095,5508,10476,3,1,2018-01-03 08:50:00,86.0,86.0,NaN,1

In [11]:
# Demonstrando pra um radar

a_radar = a.loc[a['Local']==5098]
a_radar = a_radar.loc[a_radar['Classe']==0] # escolhendo somente os carros

a_radar['Variac_perc'] = a_radar[variavel].pct_change()

display(a_radar)

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume,Variac_perc
0,5098,10605,0,0,2018-01-03 07:03:00,123.500000,123.5,2.121320,2,NaN
1,5098,10605,0,0,2018-01-03 07:05:00,108.000000,108.0,19.798990,2,-0.125506
2,5098,10605,0,0,2018-01-03 07:07:00,136.000000,136.0,NaN,1,0.259259
3,5098,10605,0,0,2018-01-03 07:13:00,75.000000,75.0,NaN,1,-0.448529
4,5098,10605,0,0,2018-01-03 07:14:00,119.500000,119.5,3.535534,2,0.593333
...,...,...,...,...,...,...,...,...,...,...
164,5098,10605,1,0,2018-01-03 08:54:00,92.866667,92.0,14.689402,60,0.447810
165,5098,10605,1,0,2018-01-03 08:56:00,81.936508,83.0,13.763993,63,-0.117697
166,5098,10605,1,0,2018-01-03 08:57:00,47.000000,47.0,35.355339,2,-0.426385
167,5098,10605,1,0,2018-01-03 08:58:00,82.192308,83.0,25.152116,52,0.748773
168,5098,10605,1,0,2018-01-03 08:59:00,103.461538,106.0,7.995993,13,0.258774

In [12]:
Radares = [5323,5226,5358,5357,5355,5356,5151,5205,5204,5313,5316,5315,5314,5476,5475,5474,5479,5478,5477,5480,5196,5195,5194,5197,5203,5202,5432,5354,5414,5413,5433,5098,5496,5129,5471,5470,5199,5198,5201,5200,5508,5507,5308,5307]

Radares = list(dict.fromkeys(Radares)) # Para tirar duplicados

# aqui fazemos a variação percentual para a variável desejada para cada Radar independentemente
# ou seja, cada radar tem a variação percentual em relação a si mesmo

a_radares = pd.DataFrame()

for n in Radares:
    a_subset = a.loc[a['Local']==n]
    a_subset = a_subset.loc[a['Classe']==0]
    a_subset['Variac_perc'] = a_subset[variavel].pct_change()
    a_radares = pd.concat([a_radares, a_subset], ignore_index=True)

a_radares.reset_index()
display(a_radares)

,Local,Número Agrupado,Especie,Classe,Data,Vel_media,Vel_mediana,Vel_std,Volume,Variac_perc
0,5323,10488,0,0,2018-01-03 07:00:00,82.000000,82.0,45.254834,2,NaN
1,5323,10488,0,0,2018-01-03 07:01:00,117.000000,117.0,NaN,1,0.426829
2,5323,10488,0,0,2018-01-03 07:02:00,56.666667,56.0,4.041452,3,-0.515670
3,5323,10488,0,0,2018-01-03 07:04:00,94.000000,94.0,35.355339,2,0.658824
4,5323,10488,0,0,2018-01-03 07:05:00,100.333333,106.0,30.892286,3,0.067376
...,...,...,...,...,...,...,...,...,...,...
6833,5307,10509,1,0,2018-01-03 08:55:00,43.000000,43.0,1.414214,2,-0.500000
6834,5307,10509,1,0,2018-01-03 08:56:00,98.000000,103.0,22.135944,4,1.279070
6835,5307,10509,1,0,2018-01-03 08:57:00,70.500000,70.5,2.121320,2,-0.280612
6836,5307,10509,1,0,2018-01-03 08:58:00,41.000000,37.5,21.753161,6,-0.418440
6837,5307,10509,1,0,2018-01-03 08:59:00,26.000000,28.0,22.068076,3,-0.365854